/* Variables for the universal theme */
:root {
	--main: #1a1b26;
	--main_light: #eceff4;
	--main_dark: #1a1b26;
	--text: #c0caf5;
	--line: #414868;
	--line_footer: #444663;
	--highlight: #171721;
	--highlight_reaction: #3b4261;
	--highlight_search: #444a73;
	--highlight_software: #1f1f2c;
	--image: #444663;

	--field_bg: #1f1f2c;
	--field_bg_hover: #2c2c3e;
	--field_bg_inactive: #1a1b26;
	--field_border: #414868;
	--field_border_hover: #4c547a;
	--field_border_inactive: #414868;
	--field_text: #c0caf5;
	--field_text_inactive: #777e98;

	--summary_open: #171721;
	--summary_closed: #171721;
	--calendar_day: #414868;
	--calendar_day_highlight: #ff9e64;
	--calendar_day_today: #7aa2f7;

	--transparent_30: rgba(26, 27, 38, .7);
	--transparent_20: rgba(26, 27, 38, .8);
	--transparent_10: rgba(26, 27, 38, .9);

	--red: #f7768e;
	--red_bg: #210000;
	--green: #9ece6a;
	--blue: #7aa2f7;
	--purple: #bb9af7;
	--orange: #ff9e64;
	--yellow: #e0af68;
	--yellow_bg: #212000;
	--dark: #414868;
	--white: #ffffff;

	--icon_select: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-selector" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="rgba(255,255,255,1)" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M8 9l4 -4l4 4"></path><path d="M16 15l-4 4l-4 -4"></path></svg>');

	--font: 'Iosevka', monospace;
	--fontsize: .98rem;
	--lineheight: 1.40rem;
}



* {
	box-sizing: content-box;
	scroll-behavior: smooth;
}

html {
	overflow-y: scroll;
}

html, body {
	background-color: var(--main);
	color: var(--text);
	font-family: var(--font);
	font-size: var(--fontsize);
	font-weight: 300;
	line-height: var(--lineheight);
	margin: 0;
	padding: 0;
}

a {
	color: var(--blue);
	text-decoration: underline;
	text-decoration-color: var(--blue);
	text-decoration-thickness: .05rem;
	/* text-decoration-style: wavy; */
	text-underline-offset: 3px;
}

a.color-red {
	text-decoration-color: var(--red_underline);
}

p {
	hyphens: auto;
	margin: 0;
	padding: 10px 0;
	text-align: left;
	word-wrap: break-word;

	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-o-hyphens: auto;
}

p:first-child {
	padding-top: 0;
}

p:last-child {
	padding-bottom: 0;
}

strong, b {
	font-weight: 700;
}

pre {
	background-color: var(--dark);
	border-radius: 3px;
	color: var(--orange);
	overflow-x: scroll;
	padding: 10px 0;
	width: 100%;
}

pre > code {
	padding: 10px 15px;
}

code {
	background-color: var(--dark);
	border-radius: 3px;
	color: var(--orange);
	font-family: var(--font);
	font-size: var(--fontsize);
	line-height: var(--lineheight);
	padding: 3px;
}

mark {
	background-color: var(--mark);
	color: var(--text);
}

ul {
	margin: 0 0 0 30px;
	padding: 5px 0;
}

ul > li {
	padding: 5px 0;
}

ul > li > a > svg {
	height: 20px;
	width: 20px;
}

ul > li > a > svg > path:last-child {
	fill: var(--text);
}

ul > li > ul {
	margin: 0 0 0 20px;
}

ol {
	list-style-type: none;
	counter-reset: item;
	margin: 0 0 0 30px;
	padding: 5px 0;
}

ol > li {
	display: table;
	counter-increment: item;
	padding: 5px 0;
}

ol > li > div {
	padding: 5px 0;
}

ol > li:before {
	content: counters(item, ".");
	display: table-cell;
	font-weight: 700;
	width: 25px;
}

ol > li > ol {
	margin: 0;
}

ol > li > ol > li:before {
	content: counters(item, ".");
	width: 40px;
}

ol > li > ol.second > li > ol.third > li:before {
	width: 50px;
}

ol.third {
	margin-bottom: -5px;
}

input:not([type="checkbox"]),
textarea,
select {
	background-color: var(--field_bg);
	border: 1px solid var(--field_border);
	border-radius: 3px;
	color: var(--field_text);
	font-family: var(--font);
	font-size: var(--fontsize);
	outline: none;
	resize: none;
	padding: 8px 10px;
	width: calc(100% - (11px * 2));
}

input::placeholder,
textarea::placeholder,
select::placeholder {
	color: var(--text);
}

input[disabled],
textarea[disabled],
select[disabled] {
	background-color: var(--field_bg_inactive);
	border: 1px dashed var(--field_border_inactive);
	color: var(--field_text_inactive);
	cursor: not-allowed;
}

input:not([disabled]):not([readonly]):active,
input:not([disabled]):not([readonly]):hover,
textarea:not([disabled]):not([readonly]):active,
textarea:not([disabled]):not([readonly]):hover,
select:not([disabled]):active,
select:not([disabled]):hover {
	background-color: var(--field_bg_hover);
	border: 1px solid var(--field_border_hover);
}

input[type="submit"],
input[type="submit"]:active,
input[type="submit"]:hover {
	background-color: var(--green) !important;
	border: 1px solid var(--green) !important;
	color: var(--main);
	cursor: pointer;
	font-weight: 700;
	padding: 5px 10px;
	width: auto;
}

input[type="radio"] {
	cursor: pointer;
	line-height: 100%;
	opacity: 0;
	position: absolute;
	width: auto;
}

input[type="radio"] + label {
	border: 1px solid transparent;
	cursor: pointer;
	margin: 0 3px;
	opacity: .7;
	padding: 1px 3px;
}

input[type="radio"]:checked + label {
	background-color: var(--checked);
	backdrop-filter: blur(3px);
	border-radius: 2px;
	color: var(--checked_str);
	opacity: 1;
}

input[type="radio"]:checked:focus + label {
	border: 1px solid var(--checked_focus);
}

input[type="date"] {
	appearance: none;
}

input[readonly] {
	border: 1px dashed var(--line);
}

input, textarea {
	caret-color: var(--yellow);
}

textarea {
	height: 250px;
	min-height: 130px;
	resize: vertical;
	vertical-align: top;
	width: calc(100% - 21px - 2px);
}

select {
	appearance: none;
	background-image: var(--icon_select);
	background-size: 17px;
	background-repeat: no-repeat;
	background-position: center right 8px;
	cursor: pointer;
	width: calc(100% - 21px - 2px);
}

h1 {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	font-size: 1.8rem;
	font-weight: 700;
	margin: 0;
	line-height: 130%;
	padding: 0;
}

h1 > svg {
	margin-right: 15px;
	width: 32px;
}

h1 > a {
	align-items: center;
	color: var(--text);
	display: flex;
	flex-flow: row nowrap;
	margin-right: 10px;
}

h1 > a > svg {
	margin: 0;
	width: 32px;
}

h2 {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	font-size: 140%;
	font-weight: 700;
	margin: 30px 0 0 0;
	padding: 0;
}

h2 > a {
	align-items: center;
	color: var(--text);
	display: flex;
	flex-flow: row wrap;
	margin-right: 5px;
	padding: 5px;
}

h2 > a > svg {
	opacity: .4;
}

h2 > a:hover > svg {
	opacity: 1;
}

h3 {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	font-size: 120%;
	font-weight: 700;
	margin: 20px 0 0 0;
	padding: 0;
}

h3 > svg {
	margin-right: 10px;
}

h4 {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	font-size: 110%;
	font-weight: 700;
	margin: 15px 0 0 0;
	padding: 0;
}

h4 > svg {
	margin-right: 10px;
}

hr {
	border: 0;
	border-top: 1px solid var(--line);
	margin: 30px -50px;
	padding: 0;
}

sup {
	vertical-align: top;
}

figure {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	margin: 0;
	width: 100%;
}

figure,
figure > img {
	object-fit: cover;
	vertical-align: top;
	width: 100%;
}

svg {
	height: inherit;
	margin-right: 5px;
	vertical-align: top;
	stroke-width: 1.25;
	width: 20px;
}

form > .button {
	margin-top: 20px;
	margin-left: 5px;
}

form > .item,
form > .side-by-side > .item,
form > details > .item {
	padding: 5px;
}

form > .item > .label,
form > .side-by-side > .item > .label,
form > details > .item > .label {
	margin-bottom: 5px;
	margin-left: 11px;
}

form > .side-by-side > .item > .field > textarea,
form > details > .item > .field > textarea {
	resize: vertical !important;
}

form > .item > .description {
	color: var(--blue);
	font-size: 88%;
	line-height: 150%;
	padding: 10px;
}

form > .item > .description > p {
	padding: 5px 0;
}



details {
	position: relative;
	z-index: 9999;
}

details > summary {
	align-items: center;
	border-radius: 5px;
	cursor: pointer !important;
	display: flex;
	flex-flow: row nowrap;
	font-size: 124%;
	font-weight: 700;
	list-style-type: none;
	margin: 0;
	padding: 10px;
}

details > summary:active,
details > summary:hover {
	background-color: var(--summary_closed);
}

details > summary > div > svg {
	margin-right: 15px;
}

details > summary > svg {
	margin-right: 10px;
	width: 24px;
}

details > summary > div > svg {
	opacity: .5;
	width: 20px;
}

details > summary > .close {
	display: none;
}

details[open] > summary {
	background-color: var(--summary_open);
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

details[open] > summary > .open {
	display: none;
}

details[open] > summary > .close {
	display: inline-block;
}

details[open] > .content {
	background-color: var(--highlight);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 10px;
}













#website {
	align-items: flex-start;
	display: flex;
	flex-flow: column nowrap;
	margin: 0 auto;
	max-width: 700px;
	min-height: calc(100vh - 10px);
	position: relative;
}

#website > .ipintel {
	background-color: var(--highlight);
	border-radius: 5px;
	margin-top: 10px;
	width: 100%;
}

#website > .ipintel > summary {
	color: var(--yellow);
	padding: 20px 25px;
}

#website > .ipintel > .content {
	padding: 15px;
}

#website > .ipintel > .content > .agree {
	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;
}

#website > .ipintel > .content > .agree > a {
	background-color: var(--main);
	border: 2px solid var(--green);
	border-radius: 5px;
	color: var(--green);
	font-size: 126%;
	font-weight: 700;
	margin: 0 auto;
	padding: 15px 30px;
	text-decoration: none;
}

#website > header {
	font-size: 3rem;
	font-weight: 700;
	letter-spacing: 10px;
	padding: 30px 20px;
	text-transform: uppercase;
	text-align: center;
	width: calc(100% - (20px * 2));
}

#website > header > a {
	color: var(--text);
	padding: 20px 30px;
	text-decoration: none;
}

#website > header > a:active,
#website > header > a:hover {
	color: var(--orange);
}

#website > nav {
	background-color: var(--highlight);
	border-radius: 3px;
	margin-bottom: 20px;
	width: 100%;
}

#website > nav > .small {
	display: none;
}

#website > nav > .wide {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	padding: 10px;
}

#website > nav > .small > details {
	padding: 5px;
}

#website > nav > .wide > a,
#website > nav > .wide > .inactive,
#website > nav > .small > details > a,
#website > nav > .small > details > .inactive {
	border: 1px solid transparent;
	display: block;
	color: var(--text);
	padding: 5px 8px;
	text-decoration: none;
}

#website > nav > .wide > .inactive,
#website > nav > .small > details > .inactive {
	margin-left: 5px;
	opacity: .7;
}

#website > nav > .wide > a:not(:first-child) {
	margin-left: 5px;
}

#website > nav > .wide > a:hover,
#website > nav > .wide > a:active {
	border: 1px solid var(--orange);
	border-radius: 3px;
	color: var(--orange);
}

#website > main {
	flex: 1;
	padding: 20px 0;
	position: relative;
	width: calc(100% - (10px * 2));
}

#website > main > section > .pagelogo {
	left: -65px;
	opacity: .1;
	position: absolute;
	pointer-events: none;
	top: 0;
}

#website > main > section > .pagelogo > svg {
	width: 128px;
}

#website > main > section > .cover {
	background-color: var(--dark);
	background-size: cover;
	background-position: center;
	border-radius: 5px;
	height: 350px;
	margin: 20px 0 10px -50px;
	width: calc(700px + 100px);
}



#website > footer {
	border-top: 1px dashed var(--line_footer);
	font-size: 80%;
	letter-spacing: 1px;
	margin-top: 10px;
	padding: 30px 10px;
	text-transform: uppercase;
	width: calc(100% - 40px);
}



#website > footer.lang-se > div {
	margin: 0 auto;
	width: 469px;
}

#website > footer.lang-en > div {
	margin: 0 auto;
	width: 440px;
}

#website > footer > .top {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

#website > footer > .top > a {
	align-items: center;
	color: var(--text);
	display: inline-flex;
	line-height: 100%;
	padding: 10px;
	text-decoration: none;
}

#website > footer > .top > a:active,
#website > footer > .top > a:hover {
	font-weight: 700;
}

#website > footer > .top > .delimiter {
	border-left: 1px solid var(--line);
	height: 15px;
}



#website > footer > .bottom {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

#website > footer > .bottom > div {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
}

#website > footer > .bottom > div > a > .icon-tabler-external-link {
	margin: -3px 0 0 2px;
	stroke: var(--text);
	stroke-width: 2;
	opacity: .7;
	width: 10px;
}

#website > footer > .bottom > div > a {
	align-items: center;
	color: var(--text);
	display: inline-flex;
	line-height: 100%;
	padding: 10px;
	text-decoration: none;
}

#website > footer > .bottom > div > a:active,
#website > footer > .bottom > div > a:hover {
	font-weight: 700;
}

#website > footer > .bottom > div > .delimiter {
	border-left: 1px solid var(--line);
	height: 15px;
}



#website > footer > .side-by-side > .left > .links {
	display: flex;
	flex-flow: column nowrap;
}

#website > footer > .side-by-side > div > a,
#website > footer > .side-by-side > .left > div > a {
	align-items: center;
	border: 1px solid transparent;
	color: var(--text);
	display: inline-flex;
	line-height: 100%;
	padding: 5px 10px;
	text-decoration: none;
	width: 150px;
}

#website > footer > .side-by-side > .left > div > a:active,
#website > footer > .side-by-side > .left > div > a:hover {
	font-weight: 700;
}

#website > footer > .side-by-side > .left > div > a > svg {
	margin-right: 8px;
	stroke-width: 1.5px;
	width: 16px;
}

#website > footer > .side-by-side > .left > .copyright {
	margin-top: 10px;
}

#website > footer > .side-by-side > .left > .copyright > a {
	padding: 5px;
	width: auto;
}

#website > footer > .side-by-side > .left > .copyright > a > svg {
	stroke-width: 1.5px;
	width: 20px;
}



#website > footer > .side-by-side > .right {
	align-items: flex-start;
	display: flex;
	flex-flow: column nowrap;
	line-height: 180%;
	margin-left: 50px;
	padding: 5px;
}

#website > footer > .side-by-side > .right > .options {
	align-items: flex-start;
	justify-content: center;
}

#website > footer > .side-by-side > .right > .options > svg {
	margin-right: 10px;
	opacity: .5;
	width: 28px;
}

#website > footer > .side-by-side > .right > .options > div {
	align-items: flex-start;
	flex-flow: column nowrap;
	justify-content: flex-start;
}

#website > footer > .side-by-side > .right > .options > div > div > a {
	color: var(--orange);
	padding: 4px;
	text-decoration: none;
}

#website > footer > .side-by-side > .right > .options > div > div > a:active,
#website > footer > .side-by-side > .right > .options > div > div > a:hover {
	text-decoration: underline;
}

#website > footer > .side-by-side > .right > .options > div > .logging {
	margin-top: 5px;
	margin-left: -4px;
}

#website > footer > .side-by-side > .right > .options > div > .logging > .turnoff {
	color: var(--red);
}

#website > footer > .side-by-side > .right > .options > .side-by-side > div > form {
	display: inline-block;
}

#website > footer > .side-by-side > .right > .options > .side-by-side > div > form > input:not([type="submit"]) {
	background-color: var(--main);
	border: 0;
	border-bottom: 1px solid var(--dark);
	border-radius: 0;
	font-size: 100%;
	letter-spacing: 1px;
	margin: 0 5px;
	height: 21px;
	padding: 0;
	text-align: center;
	width: 40px;
}

#website > footer > .side-by-side > .right > .options > .side-by-side > div > form > [type="submit"] {
	border: 0;
	font-size: 100%;
	letter-spacing: 1px;
	margin: 0 0 0 10px;
	height: 21px;
	padding: 0;
	text-align: center;
	width: 25px;
}

#website > footer > .side-by-side > .right > .options > .side-by-side > div > #wps > [type="submit"] {
	margin: 0;
}



#website > footer > .side-by-side > .right > .loading-time {
	line-height: 130%;
	margin-top: 20px;
	opacity: .7;
}

#website > footer > .side-by-side > .right > .loading-time > p {
	padding: 0;
	text-align: left;
}



#website > footer > .side-by-side > .right > .indieweb {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	line-height: 134%;
	margin-top: 10px;
}

#website > footer > .side-by-side > .right > .indieweb:active > a,
#website > footer > .side-by-side > .right > .indieweb:hover > a {
	background-color: var(--highlight);
}

#website > footer > .side-by-side > .right > .indieweb > .previous {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#website > footer > .side-by-side > .right > .indieweb > .next {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#website > footer > .side-by-side > .right > .indieweb > a {
	align-items: center;
	border: 1px solid transparent;
	color: var(--text);
	display: flex;
	flex-flow: row nowrap;
	padding: 3px;
	text-decoration: none;
}

#website > footer > .side-by-side > .right > .indieweb > .previous {
	border-right: 0;
}

#website > footer > .side-by-side > .right > .indieweb > .goto {
	border-right: 0;
	border-left: 0;
	padding: 3px 8px;
}

#website > footer > .side-by-side > .right > .indieweb > .next {
	border-left: 0;
}

#website > footer > .side-by-side > .right > .indieweb > a > svg {
	margin-right: 0;
	stroke-width: 1.5;
	width: 16px;
}

#website > footer > .side-by-side > .right > .indieweb > a:active,
#website > footer > .side-by-side > .right > .indieweb > a:hover {
	border: 1px solid var(--orange);
}

#website > footer > .side-by-side > .right > .indieweb > .previous:active,
#website > footer > .side-by-side > .right > .indieweb > .previous:hover {
	border-right: 0;
}

#website > footer > .side-by-side > .right > .indieweb > .goto:active,
#website > footer > .side-by-side > .right > .indieweb > .goto:hover {
	border-right: 0;
	border-left: 0;
}

#website > footer > .side-by-side > .right > .indieweb > .next:active,
#website > footer > .side-by-side > .right > .indieweb > .next:hover {
	border-left: 0;
}



#website > footer > .settings {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin-top: 10px !important;
}

#website > footer > .settings > div {
	align-items: center;
	display: flex;
	margin-left: 5px;
}

#website > footer > .settings > div > a {
	align-items: center;
	border-radius: 5px;
	color: var(--text);
	display: inline-flex;
	height: 20px;
	padding: 5px;
	text-decoration: none;
}

#website > footer > .settings > div > a > svg {
	margin: 0;
}

#website > footer > .settings > div:not(.theme) > a:active,
#website > footer > .settings > div:not(.theme) > a:hover {
	background-color: var(--highlight);
}

#website > footer > .settings > .theme.light > a:active,
#website > footer > .settings > .theme.light > a:hover {
	background-color: var(--main_light);
}

#website > footer > .settings > .theme.light > a:active > svg,
#website > footer > .settings > .theme.light > a:hover > svg {
	fill: var(--main_dark);
}

#website > footer > .settings > .theme.dark > a:active,
#website > footer > .settings > .theme.dark > a:hover {
	background-color: var(--main_dark);
}

#website > footer > .settings > .theme.dark > a:active > svg,
#website > footer > .settings > .theme.dark > a:hover > svg {
	fill: var(--main_light);
}















.color-gray {
	opacity: .7;
}

.color-red {
	color: var(--red) !important;
}

.color-green {
	color: var(--green);
}

.color-blue {
	color: var(--blue);
}

.color-yellow {
	color: var(--yellow);
}



.message {
	font-size: 126%;
	font-weight: 400;
	opacity: .7;
	padding: 20px 10px;
	text-align: center;
}

.msg {
	display: none;
}

.msg > div {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	font-size: 100%;
	margin-bottom: 20px;
	padding: 0;
	text-align: left;
}

.msg > div > svg {
	margin-right: 10px;
}



.mono {
	font-family: var(--font_mono) !important;
	font-size: 100%;
}

.no-select {
	cursor: default;

	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

.side-by-side {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
}

.hidden {
	display: none !important;
}

.visible {
	display: block !important;
}

.filter {
	color: var(--text);
	text-decoration: underline;
	text-decoration-color: var(--line);
	text-decoration-thickness: .05rem;
	text-decoration-style: wavy;
	text-underline-offset: 3px;
}



.icon-tabler-mood-happy,
.icon-tabler-mood-xd,
.icon-tabler-mood-sad,
.icon-tabler-mood-angry {
	stroke: var(--yellow);
}

.icon-tabler-thumb-up {
	stroke: var(--green);
}

.icon-tabler-thumb-down {
	stroke: var(--purple);
}

.icon-tabler-heart {
	stroke: var(--red);
}



.checkboxes {
	padding: 20px 0;
}

.checkbox:not(:first-child) {
	margin-top: 25px;
}

.checkbox.nodesc {
	margin-top: 0;
}

.checkbox > div {
	align-items: center;
	display: inline-flex;
	flex-flow: row wrap;
	font-size: 94%;
	position: relative;
}

.checkbox > div > input {
	cursor: pointer !important;
	left: 5px;
	opacity: 0;
	position: absolute;
	top: 5px;
}

.checkbox > div > input[disabled],
.checkbox > div > input[disabled] ~ label {
	color: var(--checkbox_disabled);
	cursor: not-allowed !important;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

.checkbox > div > input[disabled] ~ .icon-checkbox > svg > path:not(:first-child) {
	color: var(--checkbox_disabled);
}

.checkbox > div > .icon-checkbox {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	left: 6px;
	justify-content: center;
	height: 23px;
	position: absolute;
	pointer-events: none;
	width: 24px;
}

.checkbox > div > .icon-checkbox.is-checked,
.checkbox > div > input:checked ~ .icon-checkbox.is-unchecked {
	opacity: 0;
}

.checkbox > div > input:checked ~ .is-checked {
	opacity: 1;
}

.checkbox > div > label {
	cursor: pointer !important;
	padding: 4px 8px 4px 35px;
}

.checkbox > div > input:not([disabled]):hover ~ .icon-checkbox,
.checkbox > div > input:not([disabled]):hover ~ label,
.checkbox > div > input:not([disabled]):focus ~ .icon-checkbox,
.checkbox > div > input:not([disabled]):focus ~ label {
	background-color: var(--checkbox_focus);
	border-radius: 3px;
}

.checkbox > .desc {
	display: block;
	left: 35px;
	line-height: 140%;
	font-size: 98%;
	opacity: .7;
	top: 4px;
	width: calc(100% - 35px);
}

.checkbox > .desc > p {
	text-align: left;
}



@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
