@media only screen and (max-width: 900px) {

	#website > .ipintel {
		margin-top: 0;
	}

	#website > header > a:active,
	#website > header > a:hover {
		color: var(--text);
	}

	#website > main > section > .cover {
		height: 415px !important;
		margin: 20px 0 10px 0;
		width: 100% !important;
	}

	#guestbook > details[open] > .notchecked:active,
	#guestbook > details[open] > .notchecked:hover {
		background-color: var(--yellow_bg) !important;
	}

	#guestbook > details[open] > .badvisitor:active,
	#guestbook > details[open] > .badvisitor:hover {
		background-color: var(--red_bg) !important;
	}

}







@media only screen and (max-width: 830px) {

	#website > footer > .settings > .language > a:active,
	#website > footer > .settings > .language > a:hover,
	#website > footer > .settings > .theme.light > a:active,
	#website > footer > .settings > .theme.light > a:hover,
	#website > footer > .settings > .theme.dark > a:active,
	#website > footer > .settings > .theme.dark > a:hover {
		background-color: transparent;
	}

	#website > footer > .settings > .theme.light > a:active > svg,
	#website > footer > .settings > .theme.light > a:hover > svg,
	#website > footer > .settings > .theme.dark > a:active > svg,
	#website > footer > .settings > .theme.dark > a:hover > svg {
		fill: var(--text);
	}

	p {
		text-align: left;
	}

	hr {
		margin: 30px 0;
	}

	details > summary:active,
	details > summary:hover {
		background-color: transparent !important;
	}

	#website {
		max-width: calc(100% - (5px * 2));
	}

	#website > main {
		padding: 20px 10px;
	}

	#website {
		margin: 5px;
	}

	#website > nav {
		border-radius: 0;
	}

	#website > main > section > .pagelogo {
		left: -45px;
	}

	#website > main > section > .cover {
		height: 50vw !important;
	}

	#website > footer {
		background-color: var(--highlight);
		margin-top: 30px;
		padding: 10px;
		width: calc(100% - (10px * 2));
	}

	#blog-posts > .reactions > .reaction {
		align-items: flex-start;
		flex-flow: column nowrap;
	}

	#blog-posts > .reactions > .reaction > .subject {
		margin-left: 35px;
		width: calc(100% - 35px);
	}

	#blog-post > .shortcuts > a:active,
	#blog-post > .shortcuts > a:hover {
		color: var(--text);
	}

	#blog-post > .post > p > a.img > img {
		height: 50vw;
		width: 100%;
	}

	#blog-post > .paging > div > .empty,
	#blog-post > .paging > div > a {
		padding: 10px;
	}

	#blog-posts > div > .item:not(.head):active,
	#blog-posts > div > .item:not(.head):hover {
		background-color: transparent;
	}

	#blog-posts > .posts > .new-day {
		margin-top: 0;
	}

	#blog-post > .comments {
		width: 100%;
	}

	#blog-post > .side-by-side > .hundreddaystooffload {
		margin-left: 0;
	}

	#uploads > .images > .image > a > .image {
		height: 64px;
		margin: 2.5px;
		width: 64px;
	}

	#edit > .side-by-side {
		flex-flow: column nowrap;
	}

	#edit > .side-by-side > .photo {
		width: 100%;
	}

	#edit > .side-by-side > .photo > .image {
		height: 300px;
		width: 100%;
	}

	#edit > .side-by-side > form {
		margin-top: 20px;
		margin-left: 0;
		width: 100%;
	}

	#start > .videos {
		margin: 50px 0 0 0;
		max-width: 100%;
		padding: 50px 0 0 0;
	}

	#start > .videos > .items > div > a > .cover {
		height: 52px;
		width: 93px;
	}

	#me > .bg {
		border-radius: 0;
		left: 0;
		top: 0;
	}

}







@media only screen and (max-width: 820px) {

	#start > .side-by-side {
		background-color: transparent;
		border-radius: 0;
		flex-direction: column;
		padding: 0;
	}

	#start > .side-by-side > .avatar {
		background-position: center;
		height: 50vw;
		margin-right: 0;
		width: 100%;
	}

	#start > .side-by-side > .avatar > .confetti {
		left: 0;
		height: 250px;
		top: 0;
	}

	#start > .side-by-side > .avatar > .hat {
		left: 15px;
		height: 100px;
		top: -40px;
	}

	#start > .side-by-side > .avatar > .balloons {
		bottom: -35px;
		left: -80px;
		height: 205px;
	}

	#start > .side-by-side > .avatar > .yearsold {
		bottom: 30px;
		font-size: 7rem;
		left: auto;
		right: 200px;
	}

	#start > .side-by-side > .info {
		padding: 30px 0;
		width: inherit;
	}

	#slogan {
		margin: 0;
	}

	#blog-post > .post > p > a.img > img {
		height: 50vw;
	}

	#blog-post > .paging > div > a > .desktop,
	#blog-post > .paging > div > .empty > .desktop {
		display: none;
	}

	#blog-post > .paging > div > a > .portable,
	#blog-post > .paging > div > .empty > .portable {
		align-items: center;
		display: flex;
		justify-content: center;
		width: 50px;
	}

	#blog-post > .reactions {
		overflow-x: auto;
		overflow-y: hidden;
		width: 100%;
	}

	#blog-post > .reactions > a > svg {
		width: 24px;
	}

}







@media only screen and (max-width: 760px) {

	#blog-posts > div > .item > .subject {
		width: calc(100% - 143px - 20px) !important;
	}

}







@media only screen and (max-width: 660px) {

	#blog-post > .nsfw {
		width: calc(100% - (30px * 2));
	}

	#blog-posts > div > .item:not(.head) > .subject {
		width: 100% !important;
	}

	#blog-posts > div > .item > .published {
		display: none;
	}

	#biking > .plans > .content > .item.head {
		display: none;
	}

	#biking > .plans > .content > .item {
		border-left: 2px solid var(--dark);
		display: block;
		margin: 20px 0;
		padding: 5px 15px;
	}

	#biking > .plans > .content > .item > div {
		padding: 0;
	}

	#biking > .plans > .content > .item > div {
		width: 100% !important;
	}

	#biking > .plans > .content > .item > div > .label {
		display: inline-block;
		font-weight: 700;
		margin-right: 5px;
	}

	#blog-posts > form > .icon {
		right: -10px;
	}

	#blog-posts > form > [name="field-keyword"] {
		display: block;
		width: calc(100% - (10px * 2));
	}

	#blog-posts > form > [name="list-years"] {
		margin-top: 10px;
		margin-left: 0;
		width: 60px;
	}

	#blog-posts > form > [name="list-months"] {
		margin-top: 10px;
		margin-left: 10px;
		width: 100px;
	}

}







@media only screen and (max-width: 650px) {

	#blog-post > .share {
		padding: 0 0 20px 0;
	}

}







@media only screen and (max-width: 600px) {

	#guestbook > details > form > .side-by-side {
		flex-flow: column nowrap;
	}

	#guestbook > details > form > .side-by-side > .item {
		width: calc(100% - (5px * 2) - (1px * 2)) !important;
	}

}







@media only screen and (max-width: 590px) {

	#track > .map {
		margin-left: 0;
		width: 100%;
	}

	#links > .side-by-side {
		display: block;
	}

	#blog-post > .info {
		flex-direction: column;
	}

	#blog-post > .info > .rd-n-edit {
		margin-left: 39px;
	}

	#blog-post > .info > .rd-n-edit > .wall:not(.admin) {
		display: none;
	}

	#photo > .description {
		margin: 30px 0 0 0;
		width: 100%;
	}

	#photo > .info {
		margin-top: 40px;
		padding: 10px 0;
	}

	#photo > .photo > .sensitive > div > .options > .info {
		width: 100%;
	}

	#blog-posts > .calendar[open] > .content > .months > .month {
		width: calc(100% / 3);
	}

	#gallery > .gallery > .photos > a > .photo,
	#gallery > .gallery > .photos > a > .photo > .sensitive {
		height: 100px;
		width: 100px;
	}

}







@media only screen and (max-width: 566px) {

	#contact > .finding-me > div > .devices {
		padding: 0;
		width: 100%;
	}

	#blog-post > .share,
	#blog-post > .handle-read-status {
		flex-flow: column nowrap;
		padding: 0 0 20px 0;
		width: 100%;
	}

	#blog-post > .share > .icon {
		height: 100%;
		width: 100%;
	}

	#blog-post > .share > .other {
		margin-top: 30px;
		margin-left: 0;
	}

}







@media only screen and (max-width: 542px) {

	#website > nav {
		margin-bottom: 0;
	}

	#website > nav > .small {
		display: block;
	}

	#website > nav > .wide {
		display: none;
	}

}







@media only screen and (max-width: 530px) {

	#website > footer {
		flex-flow: column nowrap;
	}

	#uses > .more {
		margin-left: 10px;
	}

	#me > .avatar {
		height: 256px;
		width: 100%;
	}

	#me > .content {
		margin: 50px 0 0 0;
		padding: 0;
		width: 100%;
	}

	#track > .items > .item {
		justify-content: space-between;
	}

	#track > .items > .item > .line {
		display: none;
	}

	#track > .items > .item > .value {
		width: inherit;
	}

	#admin > form > .side-by-side {
		flex-flow: column wrap;
	}

	#start > .about > .info {
		margin: 30px 0;
		width: 100%;
	}

	#edit > .side-by-side > form > .item > .value > [name="field-camera-manufacturer"] {
		width: 110px;
	}

	#edit > .side-by-side > form > .item > .value > [name="field-camera-model"] {
		width: calc(100% - 110px - 10px);
	}

}







@media only screen and (max-width: 510px) {

	#website > footer.lang-se > div,
	#website > footer.lang-se > div:not(.settings) > div {
		margin: 0 !important;
		width: 100% !important;
	}

	#website > footer.lang-se > div > a,
	#website > footer.lang-se > div:not(.settings) > div > a {
		display: block;
		width: calc(100% - (10px * 2));
	}

	#website > footer.lang-se > .settings {
		margin-top: 20px !important;
	}

	#website > footer.lang-se > .top,
	#website > footer.lang-se > .bottom {
		align-items: flex-start;
		flex-flow: column nowrap;
		justify-content: flex-start;
	}

	#website > footer.lang-se > .top > .delimiter,
	#website > footer.lang-se > .bottom > div > .delimiter {
		display: none;
	}

	#website > footer.lang-se > .bottom > div {
		align-items: flex-start;
		flex-flow: column nowrap;
	}

}







@media only screen and (max-width: 485px) {

	#website > footer.lang-en > div,
	#website > footer.lang-en > div > div {
		margin: 0 !important;
		width: 100% !important;
	}

	#website > footer.lang-en > div > a,
	#website > footer.lang-en > div > div > a {
		display: block;
		width: calc(100% - (10px * 2));
	}

	#website > footer.lang-en > .top,
	#website > footer.lang-en > .bottom {
		align-items: flex-start;
		flex-flow: column nowrap;
		justify-content: flex-start;
	}

	#website > footer.lang-en > .top > .delimiter,
	#website > footer.lang-en > .bottom > div > .delimiter {
		display: none;
	}

	#website > footer.lang-en > .bottom > div {
		align-items: flex-start;
		flex-flow: column nowrap;
	}

	#gallery > .gallery > .photos > a > .photo,
	#gallery > .gallery > .photos > a > .photo > .sensitive {
		height: 80px;
		width: 80px;
	}

}







@media only screen and (max-width: 460px) {

	#biking > .tracks > .item.head > .when,
	#biking > .tracks > .item > .when {
		width: calc(100% - 90px);
	}

	#biking > .tracks > .item > .movingtime {
		display: none;
	}

	#contact > .finding-me {
		margin-top: 20px;
		padding: 0;
	}

	#contact > .finding-me > .nolink > svg,
	#contact > .finding-me > div > a > svg {
		width: 24px;
	}

	#contact > .finding-me > div > .devices > .content > .devices {
		margin-top: -10px;
		margin-left: -10px;
		padding: 10px;
		width: 100%;
	}

	#contact > .finding-me > div > .devices,
	#contact > .finding-me > div > .devices > .content {
		margin-left: 0;
	}

	#contact > .finding-me > div > .devices > .content > .devices > details {
		width: calc(100% + 10px);
	}

	#contact > .finding-me > div > .devices > .content > .devices > details > summary {
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
		width: calc(100% - 20px);
	}

	#contact > .finding-me > div > .devices {
		margin-top: 0;
	}

	#contact > .finding-me > div > .devices > summary {
		margin-left: 10px;
	}

	#contact > .finding-me > div > .devices > .content > .devices > details > summary > .code {
		margin-right: 0;
	}

}







@media only screen and (max-width: 450px) {

	#biking > .statistics > .content {
		flex-flow: column wrap;
	}

	#me > .content > .xmpp > .devices > .content > .devices {
		margin-top: -10px;
		margin-left: -10px;
		padding: 10px;
	}

	#me > .content > .xmpp > .devices,
	#me > .content > .xmpp > .devices > .content {
		margin-left: 0;
	}

	#me > .content > .xmpp > .devices > .content > .devices > details {
		width: calc(100% + 10px);
	}

	#me > .content > .xmpp > .devices > .content > .devices > details > summary {
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
		width: calc(100% - 20px);
	}

	#me > .content > .xmpp > .devices > .content > .devices > details > summary > .code {
		margin-right: 0;
	}

	#blog-post > .side-by-side:not(.info) {
		flex-flow: column nowrap;
	}

	#blog-post > .side-by-side > .no-ai {
		margin-top: 10px;
	}

}







@media only screen and (max-width: 430px) {

	#slogan > hr {
		width: 100%;
	}

	#edit > .side-by-side > form > .item > .value.side-by-side {
		flex-flow: column nowrap;
	}

	#edit > .side-by-side > form > .item > .value > [name="field-camera-manufacturer"],
	#edit > .side-by-side > form > .item > .value > [name="field-camera-model"] {
		width: calc(100% - (10px * 2));
	}

	#edit > .side-by-side > form > .item > .value > [name="field-camera-model"] {
		margin-top: 5px;
	}

}







@media only screen and (max-width: 360px) {

	#website > nav > a,
	#website > nav > .inactive {
		padding: 5px;
	}

}







@media only screen and (max-width: 350px) {

	#website > footer > .side-by-side > .copyright {
		display: block;
		width: 133px;
	}

	#blog-post > .paging > div > a > div > svg {
		width: 20px;
	}

	#blog-post > .paging > div > .empty,
	#blog-post > .paging > div > a {
		padding: 10px 5px;
	}

	#blog-post > .reactions {
		justify-content: flex-start;
	}

	#blog-posts > form > [name="search"] {
		display: block;
		margin-top: 10px;
		margin-left: 0;
	}

}







@media only screen and (max-width: 280px) {

	#website > footer > .side-by-side > .links {
		margin-right: 0;
		width: 100%;
	}

	#website > footer > .side-by-side:not(.options) {
		display: block;
	}

}
