:root {
	--main: #1a1b26;
	--main_light: #eceff4;
	--main_dark: #1a1b26;
	--text: #c0caf5;
	--line: #414868;
	--line_footer: #444663;
	--highlight: #171721;
	--highlight_reaction: #3b4261;
	--highlight_search: #444a73;
	--highlight_software: #1f1f2c;
	--image: #444663;

	--field_bg: #1f1f2c;
	--field_bg_hover: #2c2c3e;
	--field_bg_inactive: #1a1b26;
	--field_border: #414868;
	--field_border_hover: #4c547a;
	--field_border_inactive: #414868;
	--field_text: #c0caf5;
	--field_text_inactive: #777e98;

	--summary_open: #171721;
	--summary_closed: #171721;
	--calendar_day: #414868;
	--calendar_day_highlight: #ff9e64;
	--calendar_day_today: #7aa2f7;

	--transparent_30: rgba(26, 27, 38, .7);
	--transparent_20: rgba(26, 27, 38, .8);
	--transparent_10: rgba(26, 27, 38, .9);

	--red: #f7768e;
	--red_bg: #210000;
	--green: #9ece6a;
	--blue: #7aa2f7;
	--purple: #bb9af7;
	--orange: #ff9e64;
	--yellow: #e0af68;
	--yellow_bg: #212000;
	--dark: #414868;
	--white: #ffffff;

	--icon_select: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-selector" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="rgba(255,255,255,1)" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M8 9l4 -4l4 4"></path><path d="M16 15l-4 4l-4 -4"></path></svg>');
}
