:root {
	--main: #eceff4;
	--main_light: #e9e9ed;
	--main_dark: #1a1b26;
	--text: #3b4252;
	--line: #b6b8bc;
	--line_footer: #b6b8bc;
	--highlight: #d8dee9;
	--highlight_reaction: #d8dee9;
	--highlight_search: #444a73;
	--highlight_software: #d0d6e1;
	--image: #4c566a;

	--field_bg: #e4e6eb;
	--field_bg_hover: #dadde1;
	--field_bg_inactive: #eceff4;
	--field_border: #c9cacf;
	--field_border_hover: #b8babe;
	--field_border_inactive: #b6b8bc;
	--field_text: #3b4252;
	--field_text_inactive: #797e86;

	--summary_open: #d8dee9;
	--summary_closed: #d8dee9;
	--calendar_day: #a8acb5;
	--calendar_day_highlight: #a56541;
	--calendar_day_today: #2e7de9;

	--transparent_30: rgba(236, 239, 244, .7);
	--transparent_20: rgba(236, 239, 244, .8);
	--transparent_10: rgba(236, 239, 244, .9);

	--red: #f52a65;
	--red_bg: #210000;
	--green: #587539;
	--blue: #2e7de9;
	--purple: #9854f1;
	--orange: #a56541;
	--yellow: #868600;
	--yellow_bg: #e4de2c;
	--dark: #414868;
	--white: #ffffff;

	--icon_select: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-selector" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="rgba(255,255,255,1)" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M8 9l4 -4l4 4"></path><path d="M16 15l-4 4l-4 -4"></path></svg>');
}
