#copyright>.creative-commons{margin-top:20px}#copyright>.creative-commons>.item{align-items:center;padding:10px 5px}#copyright>.creative-commons>.item>.icon{flex-shrink:0;width:50px}#copyright>.creative-commons>.item>.icon>svg{stroke-width:1;width:32px}