#start > .about > .avatar {
	background-color: var(--image);
	background-image: url(images/selfie.webp);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	border: 10px solid var(--highlight);
	border-radius: 100%;
	height: 256px;
	margin: 0 auto;
	width: 256px;
}

#start > .about > .info {
	margin: 30px auto;
	width: 512px;
}

#start > .about > .info > h2 {
	margin-top: 20px;
}

#start > .slogan {
	font-size: 1.3rem;
	font-weight: 700;
	margin: 50px 0 20px 0;
	text-align: center;
}

#start > .slogan > a {
	color: var(--text);
	padding: 10px;
	text-decoration-color: var(--dark);
	text-underline-offset: 6px;
	text-decoration-style: wavy;
}



#start > .videos {
	border-top: 1px solid var(--line);
	margin: 50px auto 0 auto;
	max-width: 525px;
	padding: 50px 30px 0 30px;
}

#start > .videos > h2 {
	margin: 0 0 15px 0;
}

#start > .videos > h2 > svg {
	margin-right: 10px;
	width: 32px;
}

#start > .videos > .items {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

#start > .videos > .items > div {
	padding: 2.5px;
}

#start > .videos > .items > div > a > .cover {
	background-color: var(--image);
	background-position: center;
	background-size: cover;
	border-radius: 4px;
	height: 56px;
	position: relative;
	width: 100px;
}

#start > .videos > .items > div > a > .cover > .channel {
	background-color: var(--image);
	background-position: center;
	background-size: cover;
	border: 1px solid var(--line);
	border-radius: 100%;
	box-shadow: 0 0 5px rgba(255, 255, 255, .5);
	height: 18px;
	left: 5px;
	position: absolute;
	top: 5px;
	width: 18px;
}



#start > .toots {
	margin: 50px auto 0 auto;
	max-width: 525px;
}

#start > .toots > h2 {
	margin: 0 0 15px 0;
}

#start > .toots > h2 > svg {
	fill: var(--text);
	margin-right: 10px;
	width: 24px;
}

#start > .toots > .items > div {
	background-color: var(--highlight);
	border-radius: 5px;
	font-size: 90%;
	line-height: 140%;
	padding: 10px;
}

#start > .toots > .items > div:not(:first-child) {
	margin-top: 10px;
}

#start > .toots > .items > div > .timestamp {
	font-size: 90%;
	margin-top: 5px;
	opacity: .7;
}