#website {
	max-width: 800px;
}

#blog-post-compose > h1 {
	margin-bottom: 25px;
}

#blog-post-compose > form > .item.cover {
	margin-top: 30px;
}

#blog-post-compose > form > .item > .value > .cover > .image {
	background-color: var(--image);
	background-position: center;
	background-size: cover;
	border-radius: 5px;
	height: 300px;
	width: 100%;
}

#blog-post-compose > form > .checkboxes > .day {
	margin-left: 36px;
}

#blog-post-compose > form > .checkboxes > .day > input {
	padding: 2px;
	text-align: center;
	width: 35px;
}

#blog-post-compose > form > .options {
	border: 1px solid var(--red);
	border-radius: 5px;
	margin: 70px 0 30px 0;
	padding: 20px;
}

#blog-post-compose > form > .options > div > a {
	align-items: center;
	color: var(--red);
	display: inline-flex;
	padding: 5px;
	text-decoration: none;
}

#blog-post-compose > form > .options > div > a > svg {
	margin-right: 10px;
}

#blog-post-compose > form > .button.editing {
	margin-top: 0;
}

#blog-post-compose > form > .button.editing > .read {
	color: var(--text);
	margin-left: 10px;
	padding: 8px 10px;
	text-decoration: none;
}

#blog-post-compose > form > .button > [name="draft"] {
	margin-left: 10px;
}

#blog-post-compose > form > .button > .cancel {
	color: var(--red);
	margin-left: 20px;
	padding: 9px 10px;
	text-decoration: none;
}

#blog-post-compose > form > .button > .cancel.editing {
	margin-left: 0;
}





#delete > .options {
	margin-top: 20px;
}

#delete > .options > div > a {
	align-items: center;
	color: var(--text);
	display: inline-flex;
	flex-flow: row nowrap;
	padding: 5px;
	text-decoration-color: var(--text);
}

#delete > .options > div > a > svg {
	margin-right: 10px;
}

#delete > .options > div > a.delete {
	border: 1px solid transparent;
	color: var(--red);
	padding: 5px 10px;
	text-decoration: none;
}

#delete > .options > div > a.delete:active,
#delete > .options > div > a.delete:hover {
	border: 1px solid var(--red);
	border-radius: 3px;
}

#delete > .options > div:last-child {
	margin-top: 5px;
}

#delete > .options > div > a.regret {
	border: 1px solid transparent;
	color: var(--text);
	padding: 5px 10px;
	text-decoration: none;
}

#delete > .options > div > a.regret:active,
#delete > .options > div > a.regret:hover {
	border: 1px solid var(--green);
	border-radius: 3px;
	color: var(--green);
}