#sitemap > hr {
	margin-top: 20px;
}

#sitemap > .sitemap {
	line-height: 100%;
}

#sitemap > .sitemap > h2 {
	margin-top: 50px;
	margin-bottom: 10px;
}

#sitemap > .sitemap > .level-1 > a,
#sitemap > .sitemap > .level-1 > .level-2 > div > a {
	color: var(--text);
	display: block;
	padding: 6px;
	text-decoration: none;
	width: 100%;
}

#sitemap > .sitemap > .level-1 > a:active,
#sitemap > .sitemap > .level-1 > a:hover,
#sitemap > .sitemap > .level-1 > .level-2 > div > a:active,
#sitemap > .sitemap > .level-1 > .level-2 > div > a:hover {
	background-color: var(--highlight);
	border-radius: 3px;
}

#sitemap > .sitemap > .level-1 > .level-2 {
	margin-bottom: 10px;
}

#sitemap > .sitemap > .level-1 > .level-2 > div {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	margin-left: 10px;
}

#sitemap > .sitemap > .level-1 > .level-2 > div > .level {
	margin-right: 3px;
}