#filter-reactions > h1 {
	margin-bottom: 20px;
}

#filter-reactions > div {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	padding: 5px 0;
}

#filter-reactions > div > .reaction {
	flex-shrink: 0;
	width: 40px;
}

#filter-reactions > div > .reaction > svg {
	width: 24px;
}

#filter-reactions > div > .when {
	flex-shrink: 0;
	width: 150px;
}

#filter-reactions > div > .post {
	flex-shrink: 0;
	width: 150px;
}

#filter-reactions > .head {
	font-weight: 700;
}
