#track > .show-all.loggedin {
	margin: 5px 0 0 -5px;
}

#track > .show-all.loggedout {
	margin: 5px 0 20px -5px;
}

#track > .show-all > a,
#track > .update > a {
	align-items: center;
	color: var(--text);
	display: inline-flex;
	padding: 5px;
	text-decoration: none;
}

#track > .show-all > a {
	font-size: 84%;
	opacity: .7;
}

#track > .show-all > a:hover,
#track > .show-all > a:active,
#track > .update > a:hover,
#track > .update > a:active {
	opacity: 1;
}

#track > .show-all > a > svg,
#track > .update > a > svg,
#track > .share > svg {
	margin-right: 10px;
	width: 18px;
}

#track > .share,
#track > .update {
	align-items: center;
	display: flex;
	font-size: 84%;
	margin: 0 0 0 -5px;
	padding: 5px;
}

#track > .share {
	opacity: .7;
	margin-bottom: 20px;
}

#track > .update {
	padding: 0;
}

#track > .update > a {
	opacity: .7;
}



#track > .paging {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-bottom: 20px;
}

#track > .paging > div > .empty {
	align-items: center;
	color: var(--dark);
	cursor: not-allowed;
	display: flex;
	padding: 0 10px;
	position: relative;
	z-index: 1;
}

#track > .paging > div > a {
	color: var(--text);
	padding: 5px 10px;
	position: relative;
	text-decoration: none;
	z-index: 1;
}

#track > .paging > div > a:active,
#track > .paging > div > a:hover {
	background-color: var(--highlight);
}

#track > .paging > div > a > div,
#track > .paging > div > div > div {
	align-items: center;
	display: inline-flex;
}

#track > .paging > div > a > div > svg {
	margin: 0;
	stroke-width: 1.25;
	width: 20px;
}

#track > .paging > .previous > a > div > svg {
	margin-right: 5px;
}

#track > .paging > .next > a > div > svg {
	margin-left: 5px;
}

#track > .paging > div > a > .portable,
#track > .paging > div > .empty > .portable {
	display: none;
}



#track > .items > .item {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
}

#track > .items > .item > .line {
	border-top: 1px dotted var(--line);
	flex: 1;
	margin: 0 40px;
}

#track > .items > .item > .value {
	width: 150px;
}



/*#track > .map {
	background-color: var(--image);
	border-radius: 5px;
	display: block;
	margin: 40px auto 0 auto;
	max-width: 100%;
	vertical-align: top;
}*/
