#uses > h1 {
	margin-bottom: 10px;
}

#uses > .content {
	margin-bottom: 30px;
}

#uses > details[open]:not(.intro) {
	margin-top: 10px;
}

#uses > details[open]:not(.faq) {
	margin-bottom: 10px;
}

#uses > details > .content > .screenshot {
	margin-bottom: 20px;
}

#uses > details > .content > .screenshot > a > .image {
	background-color: var(--image);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border: 2px solid var(--line);
	width: inherit;
}

#uses > details > .content > .screenshot > a > .image.single {
	height: 372px;
}

#uses > details > .content > .screenshot > a > .image.double {
	height: 184px;
}

#uses > details > .content > .screenshot > .info {
	font-size: 84%;
	opacity: .7;
	padding: 5px;
	text-align: center;
}

#uses > details > .content > div:not(.screenshot) {
	padding: 5px 0;
}

#uses > details > .content > div > .label {
	border-right: 1px solid var(--line);
	display: inline-block;
	margin-right: 10px;
	padding-right: 10px;
	opacity: .7;
}

#uses > details > .content > .multiple > .label {
	border-right: 0;
	display: block;
	margin-right: 0;
	padding-right: 0;
}

#uses > details > .content > .multiple > .items {
	margin-top: 3px;
}

#uses > details > .content > .multiple > .items > div {
	margin-left: 10px;
}



#uses > div:not(.content):not(:first-child) {
	margin-top: 30px;
}

#uses > .camera {
	margin-top: 50px !important;
}

#uses > div:not(.content):not(.more) {
	align-items: flex-start;
	display: flex;
	flex-flow: row nowrap;
}

#uses > div:not(.content) > .icon {
	margin-right: 20px;
}

#uses > div:not(.content) > .icon > svg {
	margin: 0;
	stroke-width: 1;
	width: 48px;
}

#uses > div:not(.content) > .specifications > .title {
	font-size: 114%;
	margin-bottom: 5px;
}

#uses > div:not(.content) > .specifications > .os,
#uses > div:not(.content) > .specifications > .lenses {
	line-height: 100%;
	font-size: 94%;
	opacity: .7;
}

#uses > div:not(.content) > .specifications > .os > div,
#uses > div:not(.content) > .specifications > .lenses > div {
	padding: 4px 0;
}

#uses > .more {
	margin-left: 67px;
}

#uses > .more > div {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
}

#uses > .more > div > svg {
	margin-right: 10px;
	stroke-width: 1.25;
}



#uses > .softwares > .content > .statistics {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	font-size: 94%;
	margin-bottom: 5px;
	opacity: .7;
}

#uses > .softwares > .content > .statistics > svg {
	margin-right: 10px;
}

#uses > .softwares > .content > .list {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	line-height: 100%;
	justify-content: space-between;
}

#uses > .softwares > .content > .list > div {
	background-color: var(--highlight_software);
	border-radius: 3px;
	margin: 2px;
	padding: 5px;
}

#uses > .softwares > .content > .list > div > a {
	text-decoration: none;
}
