#biking > div > .item,
#biking > .plans > .content > div > .item {
	align-items: center;
}

#biking > div > .item.head,
#biking > .plans > div > .item.head {
	font-weight: 700;
}

#biking > div > .item > div,
#biking > .plans > .content > .item > div {
	padding: 5px 0;
}



#biking > nav {
	margin-top: 30px;
	margin-left: 5px;
}

#biking > nav > .rss > a {
	align-items: center;
	color: var(--text);
	display: inline-flex;
	padding: 5px;
	text-decoration: none;
}

#biking > nav > .rss {
	align-items: center;
	display: inline-flex;
	font-size: 94%;
	margin-left: 20px;
}

#biking > nav > .rss > a {
	border: 1px dashed var(--dark);
	border-radius: 3px;
	color: var(--orange);
	padding: 5px 10px;
}

#biking > nav > .rss > a:active,
#biking > nav > .rss > a:hover {
	border: 1px dashed var(--orange);
}

#biking > nav > .rss > a > svg {
	width: 18px;
}

#biking > nav > .rss > a > svg {
	margin-right: 10px;
}



#biking > .tracks {
	margin-top: 40px;
}

#biking > .tracks > .item.head > .when {
	margin-left: 10px;
	width: calc(100% - 10px - 90px - 100px - (10px * 2));
}

#biking > .tracks > .item:not(.head):not(.stats):active,
#biking > .tracks > .item:not(.head):not(.stats):hover {
	background-color: var(--highlight);
}

#biking > .tracks > .item > .when {
	padding: 0;
	width: calc(100% - 90px - 100px - (10px * 2));
}

#biking > .tracks > .item > .when > a {
	align-items: center;
	color: var(--text);
	display: inline-flex;
	padding: 5px 10px;
	text-decoration: none;
}

#biking > .tracks > .item > .when > a > .image {
	background-size: cover;
	background-position: center;
	border-radius: 3px;
	height: 20px;
	margin-right: 10px;
	width: 30px;
}

#biking > .tracks > .item > .distance {
	width: 90px;
}

#biking > .tracks > .item > .movingtime {
	width: 100px;
}

#biking > .tracks > .item.stats {
	align-items: center;
	font-size: 84%;
	margin-top: 10px;
	opacity: .7;
}



#biking > .statistics[open] {
	margin-bottom: 10px;
}

#biking > .statistics {
	margin-top: 50px;
}

#biking > .statistics > .content {
	align-items: flex-start;
	display: flex;
	flex-flow: row wrap;
}

#biking > .statistics > .content > .item {
	padding: 15px;
}

#biking > .statistics > .content > .item > .value {
	font-size: 1.32rem;
	font-weight: 700;
}

#biking > .statistics > .content > .item > .value > a {
	color: var(--text);
	text-decoration: none;
}

#biking > .statistics > .content > .item > .label {
	opacity: .7;
}



#biking > .plans[open] {
	margin-top: 10px;
}

#biking > .plans > .content > .item.head {
	margin-top: 20px;
}

#biking > .plans > .content > .item > div > .label {
	display: none;
}

#biking > .plans > .content > .item > .when {
	width: 150px;
}

#biking > .plans > .content > .item > .destination {
	width: calc(100% - 150px - 100px - 180px);
}

#biking > .plans > .content > .item > .distance {
	width: 100px;
}

#biking > .plans > .content > .item > .expected-traveltime {
	width: 180px;
}
