#rss > .list {
	margin-top: 20px;
	margin-left: 10px;
}

#rss > .list > div > a {
	align-items: center;
	color: var(--text);
	display: inline-flex;
	padding: 5px;
	text-decoration: none;
}

#rss > .list > div > a:active > svg,
#rss > .list > div > a:hover > svg {
	opacity: 1;
}

#rss > .list > div > a > svg {
	color: var(--orange);
	margin-right: 10px;
	width: 24px;
}
