#your-data > .you {
	margin-top: 20px;
}

#your-data > .you > .content {
	margin-bottom: 20px;
	margin-left: 30px;
}

#your-data > .you > .content > h3 {
	margin-top: 25px;
	margin-bottom: 10px;
}



#your-data > .pages > .content {
	margin-left: 20px;
}

#your-data > .pages > .content > .page > .content {
	border-left: 2px solid var(--line);
	margin: 10px 0 20px 20px;
	padding: 5px 0 5px 18px;
}

#your-data > .pages > .content > .page > .content > .went-to {
	margin-bottom: 10px;
}

#your-data > .pages > .content > .page > .content > .previous {
	margin-top: 10px;
}



#your-data > .keystrokes > .content {
	margin-left: 30px;
}

#your-data > .keystrokes > .content > .keys {
	margin-left: -10px;
}

#your-data > .keystrokes > .content > .keys > .item {
	align-items: center;
}

#your-data > .keystrokes > .content > .keys > .item.head {
	font-weight: 700;
}

#your-data > .keystrokes > .content > .keys > .item:not(.head):active,
#your-data > .keystrokes > .content > .keys > .item:not(.head):hover {
	background-color: var(--highlight);
}

#your-data > .keystrokes > .content > .keys > .item > div {
	padding: 5px 10px;
}

#your-data > .keystrokes > .content > .keys > .item > .when {
	width: 168px;
}

#your-data > .keystrokes > .content > .keys > .item > .page {
	width: calc(100% - 168px - 150px - 40px - (10px * 2) - 59px);
}

#your-data > .keystrokes > .content > .keys > .item > .key {
	width: 150px;
}

#your-data > .keystrokes > .content > .keys > .item > .key.side-by-side {
	align-items: center;
}

#your-data > .keystrokes > .content > .keys > .item > .keycode {
	width: 40px;
}
