section > h1 {
	align-items: center;
	display: flex;
	margin-bottom: 20px;
}

section > h1 > a {
	margin: 0;
}

section > h1 > svg {
	margin: 0 5px;
	stroke-width: 1.25;
}



#gallery > h1 {
	margin-bottom: 15px;
}

#gallery > details {
	margin-bottom: 20px;
}

#gallery > details[open] {
	border-bottom: 1px solid var(--line);
	margin-bottom: 25px;
	padding-bottom: 15px;
}

#gallery > details[open] > summary {
	background-color: var(--highlight);
}

#gallery > details[open] > form {
	padding: 10px;
}

#gallery > details[open] > form > .item > .value > textarea {
	height: 100px;
}



#gallery > .gallery > .rss {
	align-items: center;
	display: inline-flex;
	font-size: 94%;
	margin-bottom: 20px;
}

#gallery > .gallery > .rss > a {
	align-items: center;
	border: 1px dashed var(--dark);
	border-radius: 3px;
	color: var(--text);
	color: var(--orange);
	display: inline-flex;
	padding: 5px 10px;
	text-decoration: none;
}

#gallery > .gallery > .rss > a:active,
#gallery > .gallery > .rss > a:hover {
	border: 1px dashed var(--orange);
}

#gallery > .gallery > .rss > a > svg {
	flex-shrink: 0;
	margin-right: 10px;
	width: 18px;
}



#gallery > .gallery > .photos {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

#gallery > .gallery > .photos > a > .photo {
	background-color: var(--image);
	background-size: cover;
	background-position: center;
	border-radius: 3px;
	color: var(--text);
	height: 120px;
	margin: 5px;
	position: relative;
	width: 120px;
}

#gallery > .gallery > .photos > a > .photo > .sensitive {
	background-color: var(--transparent_30);
	backdrop-filter: blur(10px);
	border-radius: 3px;
	height: 120px;
	width: 120px;
}

#gallery > .gallery > .photos > a > .photo > .uppicorner {
	align-items: center;
	background-color: var(--transparent_30);
	backdrop-filter: grayscale(50%) blur(5px);
	border-radius: 3px;
	display: flex;
	flex-flow: row wrap;
	font-size: 88%;
	line-height: 100%;
	right: 5px;
	padding: 5px;
	position: absolute;
	top: 5px;
}

#gallery > .gallery > .photos > a > .photo > .uppicorner > svg {
	margin-right: 0 !important;
	stroke-width: 1.5;
	width: 18px;
}

#gallery > .gallery > .photos > a > .photo > .uppicorner > .icon-tabler-alert-triangle {
	fill: var(--red);
	margin-right: 5px !important;
}

#gallery > .gallery > .photos > a > .photo > .uppicorner > .multiple {
	margin-left: 5px;
}
