#website > main {
	padding: 50px 0;
}



@media only screen and (max-width: 530px) {

	#website > main {
		padding: 10px !important;
	}

}



#me > .bg {
	background-image: linear-gradient(
		to bottom, transparent, var(--main) 80%
	), url(images/me-bg-4.webp);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 20px;
	height: 670px;
	opacity: .8;
	position: absolute;
	top: 10px;
	width: 100%;
	z-index: 1;
}

#me > div:not(.bg) {
	position: relative;
	z-index: 2;
}

#me > .avatar {
	align-items: flex-end;
	background-color: var(--image);
	background-image: url(images/selfie.webp);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	display: flex;
	height: 256px;
	margin: 0 auto;
	width: 500px;
}

#me > .avatar > .pronouns {
	background-color: var(--transparent_30);
	backdrop-filter: blur(10px);
	border-radius: 3px;
	margin-bottom: 5px;
	margin-left: 5px;
	line-height: 100%;
	padding: 5px;
}

#me > .avatar > .gender > svg {
	background-color: var(--transparent_30);
	backdrop-filter: blur(10px);
	border-radius: 100%;
	bottom: 10px;
	height: 32px;
	margin-right: 0;
	stroke: var(--blue);
	stroke-width: 1.25;
	right: 10px;
	padding: 10px;
	position: absolute;
	width: 32px;
}



#me > .content {
	margin: 50px auto 0 auto;
	width: 500px;
}



#me > .content > .links {
	margin-bottom: 90px;
}

#me > .content > .links > a {
	background-color: var(--transparent_30);
	backdrop-filter: blur(10px);
	border: 1px solid transparent;
	border-radius: 5px;
	color: var(--text);
	display: block;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}

#me > .content > .links > a:not(:first-child) {
	margin-top: 10px;
}

#me > .content > .links > a:active,
#me > .content > .links > a:hover {
	color: var(--white);
}

#me > .content > .links > a > svg {
	fill: var(--text);
	margin-top: 2px;
	margin-right: 10px;
	width: 24px;
}

#me > .content > .links > a:active > svg,
#me > .content > .links > a:hover > svg {
	fill: var(--white);
}

#me > .content > .links > a > img {
	margin-right: 10px;
	vertical-align: top;
	width: 24px;
}



#me > .content > .xmpp {
	margin-bottom: 20px;
}

#me > .content > .xmpp > .address {
	margin-left: -5px;
}

#me > .content > .xmpp > .address > a {
	color: var(--text);
	padding: 5px;
	text-decoration: none;
}

#me > .content > .xmpp > .address > a:active,
#me > .content > .xmpp > .address > a:hover {
	color: var(--orange);
}

#me > .content > .xmpp > .address > a:active > svg,
#me > .content > .xmpp > .address > a:hover > svg {
	fill: var(--orange);
}

#me > .content > .xmpp > .address > a > svg {
	fill: var(--text);
	margin-top: 2px;
	margin-right: 10px;
	width: 24px;
}

#me > .content > .xmpp > .devices {
	margin-top: 5px;
	margin-left: 30px;
}

#me > .content > .xmpp > .devices[open] {
	margin-bottom: 40px;
}

#me > .content > .xmpp > .devices > summary {
	font-size: var(--fontsize);
	font-weight: 400;
	padding: 5px;
}

#me > .content > .xmpp > .devices[open] > summary {
	background-color: var(--highlight);
}

#me > .content > .xmpp > .devices > .content {
	padding: 10px;
}

#me > .content > .xmpp > .devices > .content > .info {
	color: var(--blue);
	font-size: 84%;
	line-height: 150%;
	margin-bottom: 25px;
}

#me > .content > .xmpp > .devices > .content > .devices > details > summary {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	font-size: var(--fontsize);
	font-weight: 400;
}

#me > .content > .xmpp > .devices > .content > .devices > details[open] > summary {
	background-color: var(--highlight);
}

#me > .content > .xmpp > .devices > .content > .devices > details > summary > .icon {
	margin-right: 15px;
	width: 32px;
}

#me > .content > .xmpp > .devices > .content > .devices > details > summary > .icon > svg {
	stroke-width: 1.25;
	width: inherit;
}

#me > .content > .xmpp > .devices > .content > .devices > details > summary > .code {
	line-height: 150%;
	width: 295px;
}

#me > .content > .xmpp > .devices > .content > .devices > details > .qr {
	padding: 10px 10px 0 10px;
}

#me > .content > .xmpp > .devices > .content > .devices > details > .qr > svg {
	width: 100%;
}

#me > .content > .xmpp > .devices > .content > .devices > details > .address {
	line-height: 140%;
	font-size: 84%;
	margin: 0 10px 20px 10px;
	overflow-x: scroll;
	overflow-y: hidden;
	padding: 10px 0;
	white-space: nowrap;
	width: calc(100% - (10px * 2));
}



#me > .content > .place {
	align-items: flex-start;
	display: flex;
	flex-flow: row nowrap;
}

#me > .content > .place > svg {
	margin-top: 2px;
	margin-right: 10px;
	width: 24px;
}

#me > .content > .place > .text {
	width: calc(100% - 24px - 10px);
}

#me > .content > .place > .text > .datetime {
	font-size: 88%;
	opacity: .7;
}



#me > .content > .skills {
	margin-top: 50px;
}

#me > .content > .skills > h2 {
	margin-top: 0;
}

#me > .content > .skills > h3 {
	font-size: 104%;
	margin-bottom: 5px;
}

#me > .content > .skills > h3.first {
	margin-top: 10px;
}

#me > .content > .skills > div {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

#me > .content > .skills > div > .string {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
}

#me > .content > .skills > div > .string > svg {
	border-radius: 2px;
	margin-left: 4px;
	margin-right: 10px;
	fill: var(--text);
	width: 16px;
}

#me > .content > .skills > div > .line {
	border-top: 1px dotted var(--line);
	flex: 1;
	margin: 0 20px;
}

#me > .content > .skills > div > .skills {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
}

#me > .content > .skills > .label > svg {
	margin-right: 10px;
}

#me > .content > .skills > div > .skills > .dot {
	background-color: var(--yellow);
	height: 15px;
	margin: 0 2px;
	width: 2px;
}

#me > .content > .skills > div > .skills > .dot.inactive {
	background-color: var(--text);
	opacity: .2;
}



#me > .content > .qr {
	margin-top: 80px;
}

#me > .content > .qr > h2 {
	margin-bottom: 0;
}

#me > .content > .qr > img {
	object-fit: cover;
	width: 100%;
}
