#overview > h1 {
	margin-bottom: 20px;
}



#overview > .quick {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
}

#overview > .quick > .item {
	align-items: center;
	background-color: var(--highlight);
	border-radius: 5px;
	display: flex;
	flex-flow: column nowrap;
	margin: 0 5px;
	padding: 20px 10px;
	width: calc((100% / 4) - (10px * 2) - (5px * 2));
}

#overview > .quick > .item > .value {
	font-size: 152%;
	font-weight: 700;
	text-align: center;
}

#overview > .quick > .item > .label {
	margin-top: 5px;
	opacity: .7;
	text-align: center;
}



#overview > .details {
	margin-top: 50px;
}

#overview > .details > h2 {
	margin-bottom: 10px;
}

#overview > .details > .item {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	padding: 5px 0;
}

#overview > .details > .item > .sub {
	font-size: 154%;
	margin-right: 5px;
	opacity: .5;
}

#overview > .details > .item > .sub.end {
	margin: -13px 6px 0 -1px;
}

#overview > .details > .item > .line {
	border-top: 1px dashed var(--line);
	flex: 1;
	margin: 0 10px;
}



#overview > .api {
	font-size: 88%;
	margin-top: 30px;
	text-align: right;
}

#overview > .api > a {
	border-radius: 3px;
	color: var(--green);
	margin-left: 10px;
	padding: 8px 10px;
	text-decoration: none;
}

#overview > .api > a:active,
#overview > .api > a:hover {
	background-color: var(--highlight);
}
