#website {
	max-width: 800px;
}

#blog-post > h1 {
	margin-bottom: 20px;
}



#blog-post > .info {
	opacity: .7;
}

#blog-post > .info > .avatar-n-published > a > .avatar {
	background-position: center;
	background-size: cover;
	border-radius: 100%;
	height: 24px;
	width: 24px;
}

#blog-post > .info > .avatar-n-published > .published {
	margin-left: 15px;
}

#blog-post > .info > .rd-n-edit > .word-count {
	margin-right: 9px;
}

#blog-post > .info > .rd-n-edit > .wall {
	border-left: 1px solid var(--line);
	height: 25px;
	margin-left: 15px;
	padding-right: 15px;
}

#blog-post > .info > .rd-n-edit > .edit {
	margin-left: -5px;
}

#blog-post > .info > .rd-n-edit > .edit > a {
	color: var(--orange);
	padding: 5px;
	text-decoration: none;
}

#blog-post > .edited {
	align-items: center;
	display: flex;
	margin-top: 5px;
	margin-left: 10px;
	opacity: .7;
}

#blog-post > .edited > svg {
	margin-right: 10px;
	width: 18px;
}

#blog-post > .info-small {
	align-items: center;
	display: flex;
	font-size: 92%;
	margin-top: 5px;
	margin-left: 35px;
	opacity: .7;
}

#blog-post > .info-small > .info {
	padding: 0 5px;
}

#blog-post > .info-small > .shortcuts > a {
	color: var(--text);
	padding: 5px;
	text-decoration: none;
}

#blog-post > .info-small > .shortcuts > a:active,
#blog-post > .info-small > .shortcuts > a:hover {
	color: var(--orange);
}



#blog-post > .disclaimer {
	border: 1px dashed var(--orange);
	border-radius: 5px;
	color: var(--orange);
	font-size: 92%;
	line-height: 150%;
	margin-top: 30px;
	margin-bottom: 40px;
	padding: 10px 15px;
}

#blog-post > .disclaimer.translation-notice-above {
	margin-top: 0;
}

#blog-post > .disclaimer.using-translation {
	border: 1px dashed var(--blue);
	color: var(--blue);
	margin-bottom: 10px;
}



#blog-post > .cover {
	background-color: var(--image);
	background-position: center;
	background-size: cover;
	border-radius: 5px;
	height: 430px !important;
	margin-top: 30px;
	margin-left: -50px;
	width: calc(800px + 100px) !important;
}



#blog-post > details {
	background-color: var(--transparent_20);
	backdrop-filter: blur(10px);
	border-radius: 5px;
	margin: 5px;
	position: sticky;
	top: 5px;
	z-index: 9999;
}

#blog-post > details > .titles {
	padding: 10px;
}

#blog-post > details > .titles > a {
	color: var(--text);
	display: block;
	padding: 5px 10px;
	text-decoration: none;
}

#blog-post > details > .titles > a:active,
#blog-post > details > .titles > a:hover {
	background-color: var(--transparent_30);
	border-radius: 5px;
}



#blog-post > .restore-nsfw {
	margin-top: 10px;
	margin-left: -5px;
}

#blog-post > .restore-nsfw > a {
	align-items: center;
	color: var(--text);
	display: inline-flex;
	flex-flow: row nowrap;
	padding: 5px;
	text-decoration: none;
}

#blog-post > .restore-nsfw > a > svg {
	margin-right: 15px;
	width: 24px;
}

#blog-post > .nsfw {
	background-color: var(--highlight);
	border: 1px solid var(--text);
	border-radius: 5px;
	margin: 80px auto 0 auto;
	padding: 60px 30px 30px 30px;
	position: relative;
	width: 70%;
}

#blog-post > .nsfw > .icon {
	align-items: center;
	display: flex;
	justify-content: center;
}

#blog-post > .nsfw > .icon > svg {
	background-color: var(--highlight);
	border: 1px dashed var(--line);
	border-radius: 100%;
	fill: var(--yellow);
	padding: 10px;
	position: absolute;
	top: -50px;
	width: 72px;
}

#blog-post > .nsfw > h2 {
	margin-top: 0;
}



#blog-post > .post {
	margin-top: 30px;
}

#blog-post > .post > details[open]:not(:last-child) {
	margin-bottom: 10px;
}

#blog-post > .post > .controversial[open] > summary,
#blog-post > .post > .spoiler[open] > summary {
	background-color: var(--highlight);
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

#blog-post > .post > .controversial[open] > .content,
#blog-post > .post > .spoiler[open] > .content {
	background-color: var(--highlight);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-top: 2px;
	padding: 20px 30px;
}

#blog-post > .post > p {
	text-align: left;
}

#blog-post > .post > p > a.img {
	display: inline-block;
	position: relative;
	width: 100%;
}

#blog-post > .post > p > a.img > svg {
	background-color: rgba(26, 27, 38, .2);
	border-radius: 100%;
	backdrop-filter: blur(5px);
	height: 18px;
	margin-right: 0;
	right: 10px;
	stroke: #ffffff;
	padding: 8px;
	position: absolute;
	top: 10px;
	width: 18px;
	z-index: 2;
}

#blog-post > .post > p > a.img > img {
	background-color: var(--image);
	border-radius: 3px;
	display: inline-block;
	height: 300px;
	margin: 0 auto;
	object-fit: cover;
	padding: 0;
	position: relative;
	width: 780px;
	z-index: 1;
}

#blog-post > .post > p > .img-desc {
	display: block;
	font-size: 90%;
	line-height: 140%;
	margin-bottom: 20px;
	opacity: .7;
	text-align: center;
}

/*#blog-post > .post > .gallery {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 20px 0;
}

#blog-post > .post > .gallery > .image {
	background-color: var(--image);
	border-radius: 5px;
	cursor: pointer;
	height: 128px;
	margin: 5px;
	width: 128px;
}*/



#blog-post > .post > .biking {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#blog-post > .post > .biking > a {
	align-items: center;
	color: var(--text);
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
}

#blog-post > .post > .biking > a:active,
#blog-post > .post > .biking > a:hover {
	color: var(--purple);
}

#blog-post > .post > .biking > a > .item {
	padding: 10px 30px;
}

#blog-post > .post > .biking > a > .item:last-child {
	padding-right: 0;
}

#blog-post > .post > .biking > a > .item:first-child {
	padding-left: 0;
}

#blog-post > .post > .biking > a > .item > .value {
	font-size: 128%;
}

#blog-post > .post > .biking > a > .item > .label {
	font-size: 84%;
	opacity: .7;
}



#blog-post > .side-by-side:not(.info) {
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
}

#blog-post > .side-by-side > .hundreddaystooffload {
	align-items: center;
	margin-left: 20px;
}

#blog-post > .side-by-side > .hundreddaystooffload > a {
	align-items: center;
	background-color: var(--main);
	border: 1px solid var(--line);
	border-right: 1px dashed var(--line);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	color: var(--text);
	display: inline-flex;
	flex-flow: row nowrap;
	font-size: 93%;
	line-height: 100%;
	opacity: .8;
	padding: 6px 10px;
	text-decoration: none;
}

#blog-post > .side-by-side > .hundreddaystooffload > a:active,
#blog-post > .side-by-side > .hundreddaystooffload > a:hover {
	background-color: var(--highlight);
	border-right: 1px solid var(--highlight);
}

#blog-post > .side-by-side > .hundreddaystooffload > a > svg {
	margin-right: 0;
	stroke-width: 1.5;
	width: 18px;
}

#blog-post > .side-by-side > .hundreddaystooffload > .day {
	background-color: var(--main);
	border: 1px solid var(--line);
	border-left: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: var(--text);
	font-size: 88%;
	opacity: .8;
	padding: 4px 10px;
}

#blog-post > .side-by-side > .hundreddaystooffload > .day > .zero {
	opacity: .3;
}



#blog-post > .side-by-side > .no-ai {
	text-align: right;
}

#blog-post > .side-by-side > .no-ai > a {
	display: inline-block;
}

#blog-post > .side-by-side > .no-ai > a > img {
	vertical-align: top;
	width: 128px;
}



#blog-post > .reactions {
	margin-top: 50px;
}

#blog-post > .reactions > .emojis {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

#blog-post > .reactions > .emojis > a,
#blog-post > .reactions > .emojis > div,
#blog-post > .reactions > .emojis > .already-reacted {
	align-items: center;
	border-radius: 5px;
	color: var(--text);
	display: inline-flex;
	flex-flow: column nowrap;
	padding: 10px;
	text-decoration: none;
}

#blog-post > .reactions > .emojis > div {
	opacity: .7;
}

#blog-post > .reactions > .emojis > a:not(.chosen):active,
#blog-post > .reactions > .emojis > a:not(.chosen):hover {
	background-color: var(--highlight);
}

#blog-post > .reactions > .emojis > .chosen {
	background-color: var(--highlight_reaction);
}

#blog-post > .reactions > .emojis > a > svg,
#blog-post > .reactions > .emojis > div > svg,
#blog-post > .reactions > .emojis > .already-reacted > svg {
	margin: 0;
	stroke-width: 1.5;
	width: 32px;
}

#blog-post > .reactions > .emojis > div > svg {
	stroke: var(--text) !important;
}

#blog-post > .reactions > .reason {
	color: var(--yellow);
	margin: 10px auto 0 auto;
	width: calc(52px * 7);
}



#blog-post > .handle-read-status {
	margin: 20px auto 0 auto;
	padding: 20px;
	width: calc(52px * 7);
}

#blog-post > .handle-read-status > h2 {
	margin-top: 0;
}

#blog-post > .handle-read-status > .description {
	color: var(--blue);
	margin-bottom: 20px;
}

#blog-post > .handle-read-status > .description > p {
	padding: 5px 0;
}

#blog-post > .handle-read-status > .description > p > a {
	color: var(--blue);
	text-decoration-color: var(--blue);
}

#blog-post > .handle-read-status > a {
	align-items: center;
	border: 1px dashed var(--line);
	border-radius: 5px;
	color: var(--text);
	display: inline-flex;
	flex-flow: row nowrap;
	padding: 7px 10px;
	text-decoration: none;
}

#blog-post > .handle-read-status > a > svg {
	margin-right: 10px;
}



#blog-post > .share {
	border-bottom: 1px dashed var(--line);
	margin: 50px auto 0 auto;
	padding: 0 30px 20px 30px;
	position: relative;
	width: 550px;
}

#blog-post > .share > h2 {
	margin-bottom: 15px;
}

#blog-post > .share > .side-by-side > div {
	position: relative;
	z-index: 2;
}

#blog-post > .share > .side-by-side > div > div > a {
	align-items: center;
	color: var(--text);
	display: inline-flex;
	text-decoration: none;
}

#blog-post > .share > .side-by-side > .mastodon {
	width: calc(550px - 188px);
}

#blog-post > .share > .side-by-side > div > div > a > svg,
#blog-post > .share > .side-by-side > .mastodon > .other-instance > svg {
	border-radius: 5px;
	fill: var(--white);
	height: 16px;
	margin-right: 10px;
	padding: 5px;
	width: 16px;
}

#blog-post > .share > .side-by-side > .mastodon > div > a > svg {
	background-color: #6364FF;
}

#blog-post > .share > .side-by-side > .mastodon > .other-instance {
	margin-top: 10px;
}

#blog-post > .share > .side-by-side > .mastodon > .other-instance,
#blog-post > .share > .side-by-side > .mastodon > .other-instance > form {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
}

#blog-post > .share > .side-by-side > .mastodon > .other-instance > svg {
	background-color: #6364FF;
	flex-shrink: 0;
}

#blog-post > .share > .side-by-side > .mastodon > .other-instance > form > [name="instance"] {
	padding: 5px;
}

#blog-post > .share > .side-by-side > .mastodon > .other-instance > form > [name="protocol"] {
	border-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	height: 22px;
	padding: 4px 5px;
	width: 65px;
}

#blog-post > .share > .side-by-side > .mastodon > .other-instance > form > [name="instance"] {
	border-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#blog-post > .share > .side-by-side > .mastodon > .other-instance > form > [type="submit"] {
	margin-left: 5px;
	padding: 5px 8px;
}

#blog-post > .share > .side-by-side > .other {
	margin-left: 30px;
	width: 155px;
}

#blog-post > .share > .side-by-side > .other > .bluesky > a > svg {
	background-color: #0285FF;
}

#blog-post > .share > .side-by-side > .other > .threads > a > svg {
	background-color: #000000;
}



#blog-post > .paging {
	align-items: center;
	background-color: var(--transparent_10);
	backdrop-filter: blur(15px);
	bottom: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin-top: 20px;
	position: sticky;
	z-index: 100;
}

#blog-post > .paging > div > .empty {
	color: var(--dark);
	cursor: not-allowed;
	padding: 10px 15px;
	position: relative;
	z-index: 1;
}

#blog-post > .paging > div > a {
	align-items: center;
	color: var(--text);
	display: inline-flex;
	padding: 10px 20px;
	position: relative;
	text-decoration: none;
	z-index: 1;
}

#blog-post > .paging > div > a:active,
#blog-post > .paging > div > a:hover {
	background-color: var(--highlight);
}

#blog-post > .paging > div > a > div > svg {
	margin: 0;
	stroke-width: 1.25;
	width: 24px;
}

#blog-post > .paging > div > a > .portable,
#blog-post > .paging > div > .empty > .portable {
	display: none;
}



#blog-post > .comments {
	margin: 50px auto 0 auto;
	width: calc(80% + (20px * 2));
}

#blog-post > .comments > h2 {
	justify-content: space-between;
	margin-bottom: 20px;
}

#blog-post > .comments > h2 > a {
	margin: 0;
}

#blog-post > .comments > h2 > a > svg {
	margin: 0;
	opacity: 1;
	stroke: var(--orange);
}



#blog-post > .comments > details {
	margin-bottom: 30px;
}

#blog-post > .comments > details[open] {
	margin-bottom: 50px;
}

#blog-post > .comments > details > summary {
	background-color: var(--summary_closed);
}

#blog-post > .comments > details[open] > summary {
	background-color: var(--summary_open);
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	color: var(--text);
}

#blog-post > .comments > details > .terms,
#blog-post > .comments > details > .delete-comment,
#blog-post > .comments > details > form {
	background-color: var(--highlight);
	padding: 10px;
}

#blog-post > .comments > details > .terms,
#blog-post > .comments > details > .delete-comment {
	padding: 15px;
}

#blog-post > .comments > details > .terms > h2,
#blog-post > .comments > details > .delete-comment > h2 {
	margin: 0;
}

#blog-post > .comments > details > form > .button {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	margin-top: 10px;
}

#blog-post > .comments > details > form > .button > .options {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 100%;
}

#blog-post > .comments > details > form > .button > .options > .left > .cancel {
	color: var(--red);
	margin-left: 10px;
	padding: 8px 10px;
	text-decoration: none;
	width: auto;
}

#blog-post > .comments > details > form > .button > .options > .right > .delete {
	color: var(--red);
	padding: 8px 10px;
	text-decoration: none;
}

#blog-post > .comments > details > form > .button > .options > .left > .cancel,
#blog-post > .comments > details > form > .button > .options > .right > .delete {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	line-height: 100%;
}



#blog-post > .comments > .comment {
	align-items: flex-start;
	display: flex;
}

#blog-post > .comments > .comment:not(:first-child) {
	margin-top: 20px;
}

#blog-post > .comments > .comment > .avatar {
	bottom: 10px;
	margin-right: 10px;
	position: sticky;
	top: 10px;
}

#blog-post > .comments > .comment > .avatar > svg {
	border: 2px solid var(--dark);
	border-radius: 100%;
	padding: 2px;
	width: 40px;
}

#blog-post > .comments > .comment > .content {
	width: 100%;
}

#blog-post > .comments > .comment > .content > .info > .name {
	font-size: 118%;
	font-weight: 700;
}

#blog-post > .comments > .comment > .content > .info > .published {
	font-size: 88%;
	opacity: .7;
}

#blog-post > .comments > .comment > .content > .info > .published > a {
	color: var(--text);
	text-decoration: none;
}

#blog-post > .comments > .comment > .content > .info > .published > a:active,
#blog-post > .comments > .comment > .content > .info > .published > a:hover {
	color: var(--orange);
}

#blog-post > .comments > .comment > .content > .info > .admin {
	align-items: center;
	display: flex;
	letter-spacing: 1px;
	flex-flow: row nowrap;
	font-size: 76%;
	opacity: .7;
	text-transform: uppercase;
}

#blog-post > .comments > .comment > .content > .info > .admin > svg {
	width: 16px;
}

#blog-post > .comments > .comment > .content > .content {
	margin-top: 10px;
}

#blog-post > .comments > .comment > .content > .content > p {
	text-align: left;
}

#blog-post > .comments > .comment > .content > .options {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	font-size: 88%;
	margin-top: 10px;
	margin-left: -8px;
	opacity: .7;
}

#blog-post > .comments > .comment > .content > .options > a,
#blog-post > .comments > .comment > .content > .options > div {
	align-items: center;
	color: var(--text);
	display: flex;
	flex-flow: row nowrap;
	line-height: 100%;
	padding: 8px;
	text-decoration: none;
}

#blog-post > .comments > .comment > .content > .options > .old-system {
	cursor: not-allowed;
	opacity: .7;
}

#blog-post > .comments > .comment > .content > .options > a:active,
#blog-post > .comments > .comment > .content > .options > a:hover {
	background-color: var(--highlight);
	border-radius: 3px;
}

#blog-post > .comments > .comment > .content > .options > a > svg,
#blog-post > .comments > .comment > .content > .options > div > svg {
	margin-right: 5px;
	opacity: .7;
	width: 16px;
}



#blog-post > .webmentions {
	border-top: 1px dashed var(--line);
	margin: 40px auto 0 auto;
	padding-top: 50px;
	width: calc(80% + (20px * 2));
}

#blog-post > .webmentions > h2 {
	margin-top: 0;
	margin-bottom: 0;
}

#blog-post > .webmentions > div:not(.message) {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	padding: 5px 10px;
}

#blog-post > .webmentions > div:not(.message) > svg {
	stroke: var(--yellow);
	margin-right: 10px;
	width: 20px;
}

#blog-post > .webmentions > div:not(.message) > a {
	transition: margin-left .1s linear;
}

#blog-post > .webmentions > div:not(.message) > a:not(.first) {
	margin-left: -15px;
}

#blog-post > .webmentions > div:not(.message) > a > img {
	background-color: var(--main);
	border: 3px solid var(--main);
	border-radius: 100%;
	height: inherit;
	vertical-align: top;
	width: 24px;
}

#blog-post > .webmentions > div:not(.message):hover > a:not(.first) {
	margin-left: -3px;
}

#blog-post > .webmentions > .boosts > svg {
	fill: var(--blue);
	stroke: transparent;
}

#blog-post > .webmentions > .replies {
	margin-top: 20px;
}

#blog-post > .webmentions > .replies > .reply > .info {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
}

#blog-post > .webmentions > .replies > .reply > .info > .avatar {
	background-size: cover;
	background-position: center;
	border-radius: 100%;
	height: 40px;
	width: 40px;
}

#blog-post > .webmentions > .replies > .reply > .info > .info {
	margin-left: 10px;
}

#blog-post > .webmentions > .replies > .reply > .info > .info > .name {
	font-size: 114%;
	font-weight: 700;
}

#blog-post > .webmentions > .replies > .reply > .info > .info > .published {
	font-size: 94%;
	opacity: .7;
}

#blog-post > .webmentions > .replies > .reply > .content {
	margin-top: 10px;
}
