#contact > .finding-me {
	padding: 20px;
}

#contact > .finding-me > .nolink,
#contact > .finding-me > div > a {
	align-items: center;
	color: var(--text);
	padding: 5px 10px;
	text-decoration: none;
}

#contact > .finding-me > div > a {
	display: inline-flex;
}

#contact > .finding-me > div > a:hover,
#contact > .finding-me > div > a:active {
	color: var(--blue);
}

#contact > .finding-me > div > a:hover > svg,
#contact > .finding-me > div > a:active > svg {
	fill: var(--blue);
}

#contact > .finding-me > .nolink > svg,
#contact > .finding-me > div > a > svg {
	fill: var(--text);
	margin-right: 10px;
}


#contact > .finding-me > div > .devices {
	margin-top: 5px;
	margin-left: 30px;
	width: 500px;
}

#contact > .finding-me > div > .devices[open] {
	margin-bottom: 40px;
}

#contact > .finding-me > div > .devices > summary {
	font-size: var(--fontsize);
	font-weight: 400;
	padding: 5px;
}

#contact > .finding-me > div > .devices[open] > summary {
	background-color: var(--highlight);
}

#contact > .finding-me > div > .devices > .content {
	padding: 10px;
}

#contact > .finding-me > div > .devices > .content > .info {
	color: var(--blue);
	font-size: 93%;
	line-height: 137%;
	margin-bottom: 25px;
}

#contact > .finding-me > div > .devices > .content > .devices > details > summary {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	font-size: var(--fontsize);
	font-weight: 400;
}

#contact > .finding-me > div > .devices > .content > .devices > details[open] > summary {
	background-color: var(--highlight);
}

#contact > .finding-me > div > .devices > .content > .devices > details > summary > .icon {
	margin-right: 15px;
	width: 32px;
}

#contact > .finding-me > div > .devices > .content > .devices > details > summary > .icon > svg {
	stroke-width: 1.25;
	width: inherit;
}

#contact > .finding-me > div > .devices > .content > .devices > details > summary > .code {
	line-height: 150%;
	width: 295px;
}

#contact > .finding-me > div > .devices > .content > .devices > details > .qr {
	padding: 10px 10px 0 10px;
}

#contact > .finding-me > div > .devices > .content > .devices > details > .qr > svg {
	width: 100%;
}

#contact > .finding-me > div > .devices > .content > .devices > details > .address {
	line-height: 140%;
	font-size: 84%;
	margin: 0 10px 20px 10px;
	overflow-x: scroll;
	overflow-y: hidden;
	padding: 10px 0;
	white-space: nowrap;
	width: calc(100% - (10px * 2));
}
