#uploads > h1 {
	margin-bottom: 10px;
}

#uploads > h2 {
	margin-bottom: 20px;
}

#uploads > h2:not(.photos) {
	margin-top: 50px;
}



#uploads > nav {
	margin-bottom: 30px;
	margin-left: -5px;
}

#uploads > nav > a {
	align-items: center;
	color: var(--text);
	display: inline-flex;
	padding: 5px;
	text-decoration: none;
}

#uploads > nav > a > svg {
	margin-right: 10px;
}



#uploads > details[open] {
	border-bottom: 1px solid var(--line);
	margin-bottom: 20px;
	padding-bottom: 20px;
}

#uploads > details[open] > summary {
	background-color: var(--highlight);
	margin-bottom: 10px;
}

#uploads > details > summary > .side-by-side {
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

#uploads > details > summary > .side-by-side > .stats {
	font-size: .86rem;
	font-weight: 400;
}



#uploads > details > .item.head {
	font-weight: 700;
}

#uploads > details > .item.head > .filename,
#uploads > details > .item.stats > .filename {
	padding-left: 10px;
}

#uploads > details > .item > div {
	padding: 5px 10px;
}

#uploads > details > .item:not(.head):not(.stats):active,
#uploads > details > .item:not(.head):not(.stats):hover {
	background-color: var(--highlight);
}

#uploads > details > .item > .filename {
	padding: 0;
	width: calc(100% - 110px - (10px * 2));
}

#uploads > details > .item > .filename > a {
	align-items: center;
	color: var(--text);
	display: inline-flex;
	padding: 5px 10px;
	text-decoration: none;
}

#uploads > details > .item > .filename > a > .image {
	background-size: cover;
	background-position: center;
	border-radius: 3px;
	height: 20px;
	margin-right: 10px;
	width: 30px;
}

#uploads > details > .item > .filesize {
	text-align: right;
	width: 110px;
}

#uploads > details > .item.stats {
	align-items: center;
	margin-top: 10px;
	opacity: .7;
}

#uploads > details > .images {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

#uploads > details > .images > .image > a > .image {
	background-size: cover;
	background-position: center;
	border-radius: 3px;
	height: 82px;
	margin: 2.5px;
	width: 82px;
}



#uploads > .stats {
	font-size: .86rem;
	margin-top: 30px;
}