#telemetry > details {
	margin-top: 40px;
}

#telemetry > .start {
	margin-top: 50px;
	text-align: center;
}

#telemetry > .start > a {
	border: 1px solid var(--green);
	border-radius: 5px;
	color: var(--green);
	padding: 10px;
	text-decoration: none;
}

#telemetry > details > h3 {
	margin-bottom: 10px;
}

#telemetry > details > .data {
	border: 1px solid var(--dark);
	border-radius: 3px;
	display: inline-block;
	font-size: 90%;
	line-height: 100%;
	margin: 3px;
	padding: 5px;
	width: auto;
}

#telemetry > details > ul {
	padding: 0;
}

#telemetry > details > ul > li {
	padding: 0;
}
