#guestbook > nav {
	margin-top: 20px;
}

#guestbook > nav > * > a {
	align-items: center;
	color: var(--text);
	display: inline-flex;
	padding: 5px;
	text-decoration: none;
}

#guestbook > nav > * > a > svg {
	flex-shrink: 0;
	margin-right: 10px;
}

#guestbook > nav > .rss {
	align-items: center;
	display: inline-flex;
	font-size: 94%;
}

#guestbook > nav > .rss > a {
	border: 1px dashed var(--dark);
	border-radius: 3px;
	color: var(--orange);
	padding: 5px 10px;
}

#guestbook > nav > .rss > a:active,
#guestbook > nav > .rss > a:hover {
	border: 1px dashed var(--orange);
}

#guestbook > nav > .rss > a > svg {
	width: 18px;
}



#guestbook > details {
	margin-top: 50px;
	margin-bottom: 20px;
}

#guestbook > details[open] > .notchecked {
	background-color: var(--yellow_bg);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

#guestbook > details[open] > .badvisitor {
	background-color: var(--red_bg);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

#guestbook > details[open] > .terms {
	background-color: var(--highlight);
	padding: 20px;
}

#guestbook > details[open] > div > h2 {
	margin: 0;
}

#guestbook > details.badvisitor[open] > .content {
	background-color: var(--red_bg);
	padding: 30px 50px;
}

#guestbook > details.notchecked[open] > .content {
	background-color: var(--yellow_bg);
	padding: 30px 50px;
}



#guestbook > details[open] > form {
	background-color: var(--highlight);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 10px;
}

#guestbook > details[open] > form > .item > .field > textarea {
	height: 100px;
}

#guestbook > details[open] > form > .side-by-side > .item.name {
	width: 35%;
}

#guestbook > details[open] > form > .side-by-side > .item.website {
	width: 65%;
}

#guestbook > details[open] > form > .side-by-side > .item > .field > input {
	width: calc(100% - (10px * 2) - (1px * 2));
}

#guestbook > details[open] > form > .side-by-side > .item.name {
	margin-right: 10px;
}

#guestbook > details[open] > form > .button {
	margin-top: 10px;
}

#guestbook > details[open] > form > .button > .cancel {
	color: var(--red);
	margin-left: 10px;
	padding: 8px 10px;
	text-decoration: none;
	width: auto;
}



#guestbook > .thanks {
	margin-bottom: 20px;
}



#guestbook > .posts > .post {
	background-color: var(--highlight);
	border-radius: 5px;
	padding: 10px 15px;
}

#guestbook > .posts > .post:not(:first-child) {
	margin-top: 10px;
}

#guestbook > .posts > .post > .name {
	font-size: 112%;
	font-weight: 700;
}

#guestbook > .posts > .post > .info {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	font-size: 88%;
}

#guestbook > .posts > .post > .info > .published {
	opacity: .7;
}

#guestbook > .posts > .post > .info > .website {
	margin-left: 10px;
	opacity: .7;
}

#guestbook > .posts > .post > .info > .delete {
	margin-left: 10px;
}

#guestbook > .posts > .post > .info > .delete > a {
	color: var(--red);
	opacity: .7;
	text-decoration: none;
}

#guestbook > .posts > .post > .info > .delete > a:active,
#guestbook > .posts > .post > .info > .delete > a:hover {
	opacity: 1;
}

#guestbook > .posts > .post > .content {
	margin-top: 10px;
}
