#website {
	max-width: 800px;
}



#blog-posts > .message > .link {
	font-size: 80%;
	margin-top: 10px;
}

#blog-posts > .message > div > a {
	color: var(--text);
	opacity: .7;
	text-decoration: none;
}

#blog-posts > .message > div > a:active,
#blog-posts > .message > div > a:hover {
	opacity: 1;
}



#blog-posts > nav {
	margin-bottom: 30px;
	margin-left: 5px;
}

#blog-posts > nav > * > a {
	align-items: center;
	color: var(--text);
	display: inline-flex;
	padding: 5px;
	text-decoration: none;
}

#blog-posts > nav > * > a > svg {
	flex-shrink: 0;
	margin-right: 10px;
}

#blog-posts > nav > .compose,
#blog-posts > nav > .filter.notloggedin {
	margin-top: 10px;
}

#blog-posts > nav > .rss {
	align-items: center;
	display: inline-flex;
	font-size: 94%;
}

#blog-posts > nav > .rss > a {
	border: 1px dashed var(--dark);
	border-radius: 3px;
	color: var(--orange);
	padding: 5px 10px;
}

#blog-posts > nav > .rss > a:active,
#blog-posts > nav > .rss > a:hover {
	border: 1px dashed var(--orange);
}

#blog-posts > nav > .rss > a > svg {
	width: 18px;
}

#blog-posts > nav > .filter {
	align-items: center;
	color: var(--text);
	display: flex;
	flex-flow: row nowrap;
	padding: 5px;
	text-decoration: none;
}

#blog-posts > nav > .filter > svg {
	flex-shrink: 0;
	margin-right: 10px;
}

#blog-posts > nav > .filter > div {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
}

#blog-posts > nav > .compose,
#blog-posts > nav > .filter {
	font-size: 94%;
}

#blog-posts > nav > .compose > a,
#blog-posts > nav > .filter {
	padding: 5px 10px;
}

#blog-posts > nav > .filter > div > a {
	color: var(--text);
	line-height: 100%;
	padding: 5px;
	text-decoration: none;
}

#blog-posts > nav > .pages {
	margin-top: 10px;
	margin-left: 20px;
}

#blog-posts > nav > .pages > .checkbox > div > .icon-checkbox {
	display: none;
}

#blog-posts > nav > .pages > .checkbox > div > label {
	padding: 5px;
}

#blog-posts > nav > .pages > .checkbox > div > #posts:checked ~ label[for="posts"] {
	color: var(--red);
}

#blog-posts > nav > .pages > .checkbox > div > #reactions:checked ~ label[for="reactions"] {
	color: var(--red);
}

#blog-posts > nav > .pages > .checkbox > div > #comments:checked ~ label[for="comments"] {
	color: var(--red);
}



#blog-posts > .statistics[open] {
	margin-bottom: 10px;
}

#blog-posts > .statistics[open] > summary {
	background-color: var(--highlight);
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

#blog-posts > .statistics[open] > .content {
	background-color: var(--highlight);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-top: 2px;
	padding: 10px;
}

#blog-posts > .statistics[open] > .content > p {
	text-align: left;
}

#blog-posts > .statistics[open] > .content > p > span {
	color: var(--purple);
}



#blog-posts > .calendar {
	margin-bottom: 30px;
}

#blog-posts > .calendar[open] {
	margin-top: 10px;
}

#blog-posts > .calendar[open] > summary {
	background-color: var(--highlight);
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

#blog-posts > .calendar[open] > .content {
	background-color: var(--highlight);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-top: 2px;
	padding: 10px;
}

#blog-posts > .calendar[open] > .content > .year {
	font-size: 192%;
	font-weight: 700;
	padding: 10px 0;
	text-align: center;
}

#blog-posts > .calendar[open] > .content {
	align-items: flex-start;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

#blog-posts > .calendar[open] > .content > div > .month {
	text-align: center;
}

#blog-posts > .calendar[open] > .content > div > table {
	padding: 10px;
}

#blog-posts > .calendar[open] > .content > div > table > tbody > tr > .day {
	background-color: var(--calendar_day);
	border: 1px solid transparent;
	border-radius: 3px;
	height: 10px;
	width: 10px;
}

#blog-posts > .calendar[open] > .content > div > table > tbody > tr > .day.selected {
	background-color: var(--calendar_day_highlight);
}

#blog-posts > .calendar[open] > .content > div > table > tbody > tr > .day.today {
	border: 1px solid var(--calendar_day_today);
}

#blog-posts > .calendar[open] > .content > .months > .month.current {
	border: 1px solid var(--line);
	border-radius: 5px;
}

#blog-posts > .calendar[open] > .content > .months > .month > .label {
	font-weight: 700;
	line-height: 100%;
	padding: 5px 0 10px 0;
	text-align: center;
	width: 100%;
}

#blog-posts > .calendar[open] > .content > .months > .month > .days {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	line-height: 100%;
}

#blog-posts > .calendar[open] > .content > .months > .month > .days > .day,
#blog-posts > .calendar[open] > .content > .months > .month > .days > a > .day {
	background-color: var(--calendar_day);
	border: 1px solid transparent;
	border-radius: 3px;
	height: 10px;
	margin: 2px;
	text-align: center;
	width: 10px;
}

#blog-posts > .calendar[open] > .content > .months > .month > .days > .day.outside-month,
#blog-posts > .calendar[open] > .content > .months > .month > .days > a > .day.outside-month {
	opacity: .2;
}

#blog-posts > .calendar[open] > .content > .months > .month > .days > a > .day.active {
	background-color: var(--calendar_day_highlight);
}

#blog-posts > .calendar[open] > .content > .months > .month > .days > .day.current,
#blog-posts > .calendar[open] > .content > .months > .month > .days > a > .day.current {
	border: 1px solid var(--calendar_day_today);
}



#blog-posts > form {
	background-color: var(--highlight_search);
	border: 1px solid var(--line);
	border-radius: 3px;
	padding: 5px;
	position: relative;
}

#blog-posts > form > .icon {
	right: -15px;
	position: absolute;
	top: -20px;
}

#blog-posts > form > .icon > .circle {
	background-color: var(--transparent_30);
	border-radius: 100%;
	backdrop-filter: blur(3px);
	height: 26px;
	left: 7px;
	position: absolute;
	top: 7px;
	width: 26px;
	z-index: 1;
}

#blog-posts > form > .icon > svg {
	margin: 0;
	position: relative;
	width: 48px;
	z-index: 2;
}

#blog-posts > form > [name="field-keyword"] {
	width: calc(100% - 60px - 100px - 70px - (10px * 7) - (10px * 3));
}

#blog-posts > form > [name="list-years"] {
	margin-left: 10px;
	width: 60px;
}

#blog-posts > form > [name="list-months"] {
	margin-left: 10px;
	width: 100px;
}

#blog-posts > form > [name="search"] {
	margin-left: 10px;
	padding: 7px 0;
	position: relative;
	width: 70px;
	z-index: 9999;
}



#blog-posts > h2 {
	margin-bottom: 15px;
	margin-left: 10px;
}



#blog-posts > .posts > .empty {
	color: var(--blue);
	margin-top: 40px;
	text-align: center;
}

#blog-posts > .posts > .new-month {
	border-top: 1px dotted var(--line);
	margin-top: 50px;
	padding-top: 20px;
}

#blog-posts > .posts > .new-month > div {
	background-color: var(--main);
	font-weight: 700;
	margin-top: -35px;
	margin-left: 50px;
	padding: 0 10px;
	position: absolute;
}

#blog-posts > .posts > .new-day {
	margin-top: 5px;
}

#blog-posts > div > .item > div {
	display: inline-block;
}

#blog-posts > div > .item.head {
	font-weight: 700;
}

#blog-posts > div > .item.head > .subject {
	padding-left: 10px;
	width: calc(100% - 143px - (20px * 2)) !important;
}

#blog-posts > div > .item:not(.head):active,
#blog-posts > div > .item:not(.head):hover {
	background-color: var(--highlight);
}

#blog-posts > div > .item > div {
	padding: 5px 10px;
}

#blog-posts > div > .item > .published {
	vertical-align: top;
	width: 143px;
}

#blog-posts > div > .item > .subject {
	width: calc(100% - 143px - 100px - (20px * 2));
}

#blog-posts > div > .item:not(.head) > .subject {
	padding: 0;
}

#blog-posts > div > .item > .subject > a {
	align-items: baseline;
	color: var(--text);
	display: inline-flex;
	line-height: 140%;
	padding: 7px 10px;
	text-decoration: none;
}

#blog-posts > div > .item > .subject > a:active,
#blog-posts > div > .item > .subject > a:hover {
	color: var(--orange);
}

#blog-posts > div > .item > .subject > a > .cover {
	background-color: var(--image);
	background-position: center;
	background-size: cover;
	border-radius: 2px;
	height: 12px;
	flex-shrink: 0;
	margin-right: 10px;
	width: 20px;
}

#blog-posts > div > .item > .subject > a > .no-cover {
	background-color: var(--image);
	border-radius: 2px;
	height: 12px;
	flex-shrink: 0;
	margin-right: 10px;
	width: 20px;
}

#blog-posts > div > .item > .subject > .emojis,
#blog-posts > div > .item > .subject > .emojis > div {
	align-items: center;
	display: flex;
}

#blog-posts > div > .item > .subject > .emojis {
	margin-left: 40px;
}

#blog-posts > div > .item > .subject > .emojis > svg {
	flex-shrink: 0;
	margin: 0 3px 0 0;
	stroke-width: 1.25;
	width: 16px;
}

#blog-posts > div > .item > .subject > .emojis > .inactive {
	opacity: .2;
}

#blog-posts > div > .item > .subject > .emojis > .inactive > svg {
	flex-shrink: 0;
	margin: 0 3px 0 0;
	stroke: var(--text);
	stroke-width: 1.25;
	width: 16px;
}



#blog-posts > .comments > h2 {
	justify-content: space-between;
	margin-top: 0;
	margin-bottom: 10px;
}

#blog-posts > .comments > h2 > a {
	margin: 0;
}

#blog-posts > .comments > h2 > a > svg {
	margin: 0;
	opacity: 1;
	stroke: var(--orange);
}

#blog-posts > .comments > .comment {
	align-items: flex-start;
	display: flex;
	padding: 20px 0;
}

#blog-posts > .comments > .comment > .avatar {
	bottom: 10px;
	margin-right: 10px;
	position: sticky;
	top: 10px;
}

#blog-posts > .comments > .comment > .avatar > svg {
	border: 2px solid var(--dark);
	border-radius: 100%;
	padding: 2px;
	width: 40px;
}

#blog-posts > .comments > .comment > .content > .info > .name {
	font-size: 118%;
	font-weight: 700;
}

#blog-posts > .comments > .comment > .content > .info > .published {
	font-size: 88%;
	margin-left: -5px;
	opacity: .7;
}

#blog-posts > .comments > .comment > .content > .info > .published > a {
	color: var(--text);
	padding: 5px;
	text-decoration: none;
}

#blog-posts > .comments > .comment > .content > .info > .published > a:active,
#blog-posts > .comments > .comment > .content > .info > .published > a:hover {
	color: var(--orange);
}

#blog-posts > .comments > .comment > .content > .post {
	font-size: 88%;
	margin-left: -5px;
}

#blog-posts > .comments > .comment > .content > .post > a {
	color: var(--text);
	opacity: .7;
	padding: 5px;
	text-decoration: none;
}

#blog-posts > .comments > .comment > .content > .post > a:active,
#blog-posts > .comments > .comment > .content > .post > a:hover {
	color: var(--orange);
}

#blog-posts > .comments > .comment > .content > .content {
	margin-top: 10px;
}

#blog-posts > .comments > .comment > .content > .options {
	font-size: 88%;
	margin-top: 10px;
}

#blog-posts > .comments > .comment > .content > .options > a {
	align-items: center;
	color: var(--text);
	display: flex;flex-flow: row nowrap;
	text-decoration: none;
}

#blog-posts > .comments > .comment > .content > .options > a > svg {
	width: 18px;
}

#blog-posts > .comments > .comment > .content > .options > .delete {
	color: var(--red);
}



#blog-posts > .reactions > h2 {
	justify-content: space-between;
	margin-top: 0;
	margin-bottom: 20px;
}

#blog-posts > .reactions > .info {
	align-items: flex-start;
	border: 1px solid var(--blue);
	border-radius: 5px;
	color: var(--blue);
	display: flex;
	flex-flow: row nowrap;
	margin-bottom: 30px;
	padding: 10px 15px;
}

#blog-posts > .reactions > .info > svg {
	flex-shrink: 0;
	margin-right: 10px;
	stroke: var(--blue);
	stroke-width: 1.25;
	width: 32px;
}

#blog-posts > .reactions > .info > p {
	padding: 3px 0;
}

#blog-posts > .reactions > .and-counting {
	margin-top: 20px;
	opacity: .7;
	padding: 10px;
}

#blog-posts > .reactions > .reaction {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	padding: 5px;
}

#blog-posts > .reactions > .reaction > .emoji-n-when {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
}

#blog-posts > .reactions > .reaction > .emoji-n-when > .emoji {
	align-items: center;
	display: flex;
	width: 30px;
}

#blog-posts > .reactions > .reaction > .emoji-n-when > .emoji > svg {
	flex-shrink: 0;
	stroke-width: 1.25;
	width: 28px;
}

#blog-posts > .reactions > .reaction > .emoji-n-when > .when {
	margin-left: 10px;
	margin-right: 10px;
	width: 150px;
}

#blog-posts > .reactions > .reaction > .subject {
	width: calc(100% - 30px - 150px);
}

#blog-posts > .reactions > .reaction > .subject > a {
	padding: 5px;
	text-decoration: none;
}
