section > h1 {
	align-items: center;
	display: flex;
	margin-bottom: 20px;
}

section > h1 > a {
	margin: 0;
}

section > h1 > svg {
	margin: 0 5px;
	stroke-width: 1.25;
}



#photo > .paging {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-bottom: 20px;
}

#photo > .paging > div > a {
	color: var(--text);
	padding: 10px;
	text-decoration: none;
}

#photo > .paging > div > a:active,
#photo > .paging > div > a:hover {
	background-color: var(--highlight);
	border-radius: 5px;
}

#photo > .paging > div > .empty {
	color: var(--dark);
	cursor: not-allowed;
	padding: 0 10px;
	position: relative;
	z-index: 1;
}



#photo > .photo,
#photo > a > .photo {
	background-color: var(--image);
	background-size: cover;
	background-position: center;
	border-radius: 5px;
	height: 400px;
	position: relative;
	width: 100%;
}

#photo > .photo > .sensitive {
	align-items: center;
	background-color: var(--transparent_20);
	backdrop-filter: blur(20px);
	border-radius: 5px;
	display: flex;
	height: 400px;
	justify-content: center;
	width: 100%;
}

#photo > .photo > .sensitive > div {
	padding: 20px 30px;
}

#photo > .photo > .sensitive > div > p {
	text-align: left;
}

#photo > .photo > .sensitive > div > .options {
	margin-top: 20px;
}

#photo > .photo > .sensitive > div > .options > a,
#photo > .options > a {
	align-items: center;
	background-color: var(--transparent_30);
	border-radius: 5px;
	color: var(--text);
	display: inline-flex;
	flex-flow: row nowrap;
	line-height: 100%;
	padding: 10px 15px;
	text-decoration: none;
	transition: background-color .2s linear;
}

#photo > .photo > .sensitive > div > .options > a:active,
#photo > .photo > .sensitive > div > .options > a:hover,
#photo > .options > a:active,
#photo > .options > a:hover {
	background-color: var(--main);
}

#photo > .photo > .sensitive > div > .options > .info {
	font-size: 93%;
	line-height: 140%;
	margin-top: 10px;
	opacity: .7;
	width: 80%;
}

#photo > .photo > .sensitive > div > .options > .info > p > a {
	color: var(--text);
	text-decoration-color: var(--text);
}



#photo > a > .photo > .multiple {
	align-items: center;
	background-color: var(--transparent_30);
	backdrop-filter: grayscale(50%) blur(5px);
	border-radius: 4px;
	display: flex;
	flex-flow: row wrap;
	right: 5px;
	position: absolute;
	top: 5px;
}

#photo > a > .photo > .multiple > .navigate > a {
	align-items: center;
	display: flex;
	padding: 5px 2px;
}

#photo > a > .photo > .multiple > .navigate > a:active,
#photo > a > .photo > .multiple > .navigate > a:hover {
	background-color: var(--transparent_10);
}

#photo > a > .photo > .multiple > .navigate.left > a:active,
#photo > a > .photo > .multiple > .navigate.left > a:hover {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#photo > a > .photo > .multiple > .navigate.right > a:active,
#photo > a > .photo > .multiple > .navigate.right > a:hover {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#photo > a > .photo > .multiple > .navigate > a > svg {
	fill: var(--text);
	margin: 0;
}

#photo > a > .photo > .multiple > .number {
	font-size: 88%;
	margin: 0 10px;
}



#photo > a > .photo > svg {
	background-color: rgba(26, 27, 38, .2);
	border-radius: 100%;
	backdrop-filter: blur(5px);
	height: 18px;
	margin-right: 0;
	right: 10px;
	stroke: #ffffff;
	padding: 8px;
	position: absolute;
	top: 10px;
	width: 18px;
	z-index: 2;
}



#photo > .options {
	margin-top: 10px;
}

#photo > .options > a {
	align-items: center;
	border: 1px solid transparent;
	color: var(--text);
	display: inline-flex;
	flex-flow: row nowrap;
	padding: 5px 10px;
	text-decoration: none;
}

#photo > .options > .delete {
	color: var(--red);
}

#photo > .options > .delete:active,
#photo > .options > .delete:hover {
	border: 1px solid var(--red);
	border-radius: 3px;
}



#photo > .description {
	background-color: var(--highlight);
	border-radius: 5px;
	margin-top: 10px;
	padding: 20px;
}

#photo > .description > p {
	text-align: left;
}

#photo > .likes {
	margin-top: 40px;
	padding: 10px 20px;
}

#photo > .likes > .reason {
	color: var(--yellow);
	margin-bottom: 10px;
	width: 80%;
}

#photo > .likes > .like-or-not {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
}

#photo > .likes > .like-or-not > svg {
	stroke: var(--red);
}

#photo > .likes > .like-or-not > a,
#photo > .likes > .like-or-not > .text {
	padding: 5px;
}

#photo > .likes > .privacy-notice {
	align-items: flex-start;
	display: flex;
	flex-flow: row nowrap;
	margin-top: 10px;
	width: 80%;
}

#photo > .likes > .privacy-notice > p {
	padding: 0;
}

#photo > .likes > .privacy-notice > svg {
	flex-shrink: 0;
	margin-right: 10px;
}

#photo > .info {
	margin-top: 40px;
	padding: 10px 20px;
}

#photo > .info > .camera {
	font-size: 134%;
	font-weight: 700;
	margin-bottom: 5px;
}

#photo > .info > .info {
	margin-top: 20px;
}

#photo > .info > .info > div {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	padding: 3px 0;
}

#photo > .info > .info > div > svg {
	margin-right: 10px;
	stroke-width: 1.2;
	width: 24px;
}

#photo > .info > .info > div > .iso {
	border: 1px solid var(--text);
	border-radius: 2px;
	font-size: 70%;
	font-weight: 700;
	line-height: 100%;
	margin-right: 10px;
	padding: 3px;
}



#edit > .side-by-side > .photo {
	margin-top: 10px;
	width: 150px;
}

#edit > .side-by-side > .photo > .image {
	background-color: var(--image);
	background-size: cover;
	background-position: center;
	border-radius: 3px;
	height: 128px;
	width: 128px;
}

#edit > .side-by-side > form {
	margin-left: 30px;
	width: calc(100% - 128px - 30px);
}

#edit > .side-by-side > form > .item.description {
	margin-top: 20px;
}

#edit > .side-by-side > form > .item > .value > textarea {
	height: 100px;
}

#edit > .side-by-side > form > .item > .value > [name="field-camera-manufacturer"] {
	margin-right: 10px;
	width: 200px;
}

#edit > .side-by-side > form > .item > .value > [name="field-camera-model"] {
	width: calc(100% - 200px - 10px);
}



#delete > .options {
	margin-top: 20px;
}

#delete > .options > div > a {
	align-items: center;
	color: var(--text);
	display: inline-flex;
	flex-flow: row nowrap;
	padding: 5px;
	text-decoration-color: var(--text);
}

#delete > .options > div > a > svg {
	margin-right: 10px;
}

#delete > .options > div > a.delete {
	border: 1px solid transparent;
	color: var(--red);
	padding: 5px 10px;
	text-decoration: none;
}

#delete > .options > div > a.delete:active,
#delete > .options > div > a.delete:hover {
	border: 1px solid var(--red);
	border-radius: 3px;
}

#delete > .options > div:last-child {
	margin-top: 5px;
}

#delete > .options > div > a.regret {
	border: 1px solid transparent;
	color: var(--text);
	padding: 5px 10px;
	text-decoration: none;
}

#delete > .options > div > a.regret:active,
#delete > .options > div > a.regret:hover {
	border: 1px solid var(--green);
	border-radius: 3px;
	color: var(--green);
}
