#admin > h1 {
	margin-bottom: 15px;
}

#admin > .tfa {
	margin-bottom: 30px;
}

#admin > form > .item,
#admin > form > .side-by-side > .item {
	padding: 5px;
	width: calc(100% - (5px * 2));
}

#admin > form > .item > .label,
#admin > form > .side-by-side > .item > .label {
	margin-bottom: 5px;
	margin-left: 11px;
}