#chat > h1 {
	margin-bottom: 10px;
}

#chat > header {
	margin-bottom: 20px;
	position: relative;
	z-index: 9999;
}

#chat > header > img {
	border-radius: 5px;
	object-fit: cover;
	width: 100%;
}

#chat > details[open]:not(.intro) {
	margin-top: 10px;
}

#chat > details[open]:not(.faq) {
	margin-bottom: 10px;
}



#chat > .faq[open] > .content {
	padding: 20px;
}

#chat > .faq[open] > .content > h3 {
	font-size: 110%;
	margin: 0;
}

#chat > .faq[open] > .content > h3:not(:first-child) {
	border-top: 1px dashed var(--line);
	margin-top: 30px;
	padding-top: 40px;
}