#tiny-projects > .blocks {
	align-items: flex-start;
	display: flex;
	flex-flow: row wrap;
}

#tiny-projects > .blocks > div {
	background-color: var(--highlight);
	border: 1px solid var(--line);
	border-radius: 5px;
	margin: 20px auto;
	padding: 10px;
	width: calc(80% - (10px * 2));
}

#tiny-projects > .blocks > div > h2 {
	margin: 0 0 10px 0;
}

#tiny-projects > .blocks > div > form {
	padding: 5px 0;
}

#tiny-projects > .blocks > div > form > .button {
	margin-top: 5px;
}