#uploaded > h1 {
	margin-bottom: 20px;
}

#uploaded > .image {
	background-size: cover;
	background-position: center;
	border-radius: 3px;
	height: 400px;
	margin-bottom: 50px;
	width: 100%;
}

#uploaded > .item > div {
	padding: 5px 0;
}

#uploaded > .item > .value {
	width: 200px;
}

#uploaded > .options {
	margin-top: 20px;
}

#uploaded > .options > a {
	color: var(--text);
	padding: 5px;
	text-decoration-color: var(--text);
}

#uploaded > .options > a.delete {
	color: var(--red);
	text-decoration-color: var(--red);
}





#delete > .options {
	margin-top: 20px;
}

#delete > .options > div > a {
	align-items: center;
	color: var(--text);
	display: inline-flex;
	flex-flow: row nowrap;
	padding: 5px;
	text-decoration-color: var(--text);
}

#delete > .options > div > a > svg {
	margin-right: 10px;
}

#delete > .options > div > a.delete {
	border: 1px solid transparent;
	color: var(--red);
	padding: 5px 10px;
	text-decoration: none;
}

#delete > .options > div > a.delete:active,
#delete > .options > div > a.delete:hover {
	border: 1px solid var(--red);
	border-radius: 3px;
}

#delete > .options > div:last-child {
	margin-top: 5px;
}

#delete > .options > div > a.regret {
	border: 1px solid transparent;
	color: var(--text);
	padding: 5px 10px;
	text-decoration: none;
}

#delete > .options > div > a.regret:active,
#delete > .options > div > a.regret:hover {
	border: 1px solid var(--green);
	border-radius: 3px;
}
