details > summary {
	font-size: 100%;
	font-weight: 400;
	padding: 5px;
}



#filter-guestbook > h1 {
	margin-bottom: 20px;
}

#filter-guestbook > .head,
#filter-guestbook > details {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
}

#filter-guestbook > .head {
	font-weight: 700;
	margin-bottom: 5px;
	margin-left: 5px;
}

#filter-guestbook > details:not(.first)[open] {
	margin-top: 10px;
}

#filter-guestbook > details[open] {
	margin-bottom: 10px;
}

#filter-guestbook > .head > .options,
#filter-guestbook > details > summary > .options {
	flex-shrink: 0;
	width: 80px;
}

#filter-guestbook > details > summary > .options {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
}

#filter-guestbook > details > summary > .options > a {
	border-radius: 3px;
	padding: 5px;
}

#filter-guestbook > details > summary > .options > * > svg {
	margin-right: 0;
}

#filter-guestbook > details > summary > .options > a:hover {
	background-color: var(--dark);
}

#filter-guestbook > details > summary > .options > div {
	opacity: .2;
	padding: 5px;
}

#filter-guestbook > details > summary > .options > .accept > svg {
	stroke: var(--green);
}

#filter-guestbook > details > summary > .options > .delete > svg {
	stroke: var(--red);
}

#filter-guestbook > .head > .when,
#filter-guestbook > details > summary > .when {
	flex-shrink: 0;
	width: 150px;
}

#filter-guestbook > .head > .name,
#filter-guestbook > details > summary > .name {
	flex-shrink: 0;
	width: 150px;
}
