#links > .side-by-side > .projects {
	margin-right: 50px;
}

#links > .side-by-side > div > h2 {
	margin-bottom: 10px;
}

#links > .side-by-side > div > ul {
	padding: 0;
}

#links > .side-by-side > div > ul > li {
	padding: 1px 0;
}
