#slogan {
	margin: 30px 0;
}

#slogan > h1 {
	justify-content: center;
	margin-bottom: 15px;
}

#slogan > hr {
	margin: 40px auto 50px auto;
	width: 400px;
}

#slogan > .rules > h2 {
	align-items: center;
	display: flex;
	flex-direction: row nowrap;
	margin: 30px 0 0 0;
}

#slogan > .rules > .first {
	margin: 0;
}

#slogan > .rules > h2 > svg {
	margin-right: 15px;
	width: 27px;
}
